docs/n8n-workflows/exports/wf-fEAs3LZr0lMDWziF.json
[
  {
    "createdAt": "2025-09-07T09:41:51.063Z",
    "updatedAt": "2025-09-09T11:23:42.000Z",
    "id": "frank-backfill-20251019",
    "name": "Invoice Management Frank only (Oct 2025 Backfill)",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 3
              }
            ]
          }
        },
        "id": "f05a3d61-128d-4830-a515-e6fda4aa092f",
        "name": "Schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1008,
          64
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "output": "fields",
          "fields": [
            "id",
            "subject",
            "from",
            "sender",
            "body",
            "hasAttachments",
            "receivedDateTime",
            "internetMessageId"
          ],
          "filtersUI": {
            "values": {
              "filters": {
                "custom": "=(receivedDateTime ge {{ new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString() }}) and\n(\n  (from/emailAddress/address eq 'frank@fbcs.com.au' and contains(subject,'Invoice') and hasAttachments eq true)\n)"
              }
            }
          },
          "options": {
            "downloadAttachments": false
          }
        },
        "id": "b5f5bd90-781c-4718-9b4b-b146e82f9c1f",
        "name": "Get Recent Messages",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          -784,
          64
        ],
        "webhookId": "d4c658d4-23c6-4728-9088-d7ad27654f16",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "ekJmqpa2V8RnjERW",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "message_id",
                "value": "={{$json.id}}",
                "type": "string",
                "id": "a735bafe-7f86-4757-bdc0-42c42825cae7"
              },
              {
                "name": "email_subject",
                "value": "={{ $json.subject || '' }}",
                "type": "string",
                "id": "9b228388-bfd1-4004-bd14-998fc902a02d"
              },
              {
                "name": "email_from",
                "value": "={{ $json.from?.emailAddress?.address || $json.sender?.emailAddress?.address || '' }}",
                "type": "string",
                "id": "2d750707-71f2-4524-9374-3ab35d08d5f7"
              },
              {
                "name": "email_received",
                "value": "={{ new Date($json.receivedDateTime || Date.now()).toLocaleString('en-AU',{ timeZone:'Australia/Sydney' }) }}",
                "type": "string",
                "id": "14bc88bf-4c7f-42a5-b464-8a89431fb13e"
              },
              {
                "name": "has_attachments",
                "value": "={{ $json.hasAttachments === true }}",
                "type": "boolean",
                "id": "b27ed06e-db85-4800-aa3a-dd211791e3a0"
              },
              {
                "name": "safe_subject",
                "value": "={{ ($json.subject || 'Email').replace(/[^a-zA-Z0-9\\-]/g,'-').substring(0,50) }}",
                "type": "string",
                "id": "2bbd0302-4d4e-47bf-9809-922ab4f3c957"
              },
              {
                "name": "xero_link",
                "value": "={{ '' }}",
                "type": "string",
                "id": "19cfe728-02cb-481b-8651-269212072bd4"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "ea8f1ac4-8411-4558-a5c1-76e81ec44e67",
        "name": "Precompute",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -336,
          64
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Build one clean URL for the HTTP node: url_for_http\nconst j = $input.item.json;\nconst html = String(j.body?.content || '').replace(/&amp;/g, '&');\n\nlet url =\n  // Prefer the explicit DownloadPdf link in the email\n  (html.match(/href\\s*=\\s*\"(https?:\\/\\/[^\"]+\\/Invoice\\/DownloadPdf\\/[a-f0-9-]+[^\"]*)\"/i)?.[1]) ||\n  (html.match(/href\\s*=\\s*'(https?:\\/\\/[^']+\\/Invoice\\/DownloadPdf\\/[a-f0-9-]+[^']*)'/i)?.[1]) ||\n  // Fallbacks from parsed fields\n  j.pdf_url_download || j.pdf_url_clean || j.xero_link || '';\n\n// normalize + strip nasties\nurl = String(url)\n  .replace(/&amp;/g, '&')\n  .replace(/[\\u0000-\\u001F\\u007F]/g, '')    // control chars\n  .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')    // zero-width\n  .replace(/\\s+/g, ' ')                     // collapse spaces\n  .trim()\n  .replace(/^http:\\/\\//i, 'https://')\n  .split('#')[0];\n\nconst url_for_http = encodeURI(url);\n\n// Validate lightly\nif (!/^https?:\\/\\/[A-Za-z0-9.-]+\\/[^\\s]*$/i.test(url_for_http)) {\n  return { json: { ...j, _fatal: 'bad_url', raw_url: url, url_for_http } };\n}\n\nreturn { json: { ...j, url_for_http } };"
        },
        "id": "3c1ed24c-a1b3-4600-a4d3-863e4ab359a5",
        "name": "Compute Xero Link",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          256
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{$json.has_attachments}}",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "id": "02f7e640-85a0-4684-971c-1ca404dd6d79"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "868173b4-ef82-4969-9424-4bd82667e168",
        "name": "Has Attachments?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          112,
          64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{$json.xero_link?.length}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "071158ba-d577-47d1-b8bd-69f7a0484c28",
        "name": "Has Xero Link?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          560,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34698842-78ea-49bc-b296-2ae7dc6dfcd4",
                "name": "supplier_name",
                "value": "",
                "type": "string"
              },
              {
                "id": "29bff5b2-fcff-4d19-92e3-4b8a55ad6029",
                "name": "supplier_abn",
                "value": "",
                "type": "string"
              },
              {
                "id": "9b97ee6f-0af1-4c08-bf88-423a16dba7c3",
                "name": "customer_name",
                "value": "",
                "type": "string"
              },
              {
                "id": "5a52b9b8-3d9c-482b-8b83-558e6e6e0ea2",
                "name": "customer_abn",
                "value": "",
                "type": "string"
              },
              {
                "id": "a51db79c-6a4b-42f0-9ec3-ebdc71654092",
                "name": "bank_bsb",
                "value": "",
                "type": "string"
              },
              {
                "id": "f8367e33-9f43-4244-bcbb-2f12a2ecde1b",
                "name": "bank_account",
                "value": "",
                "type": "string"
              },
              {
                "id": "18709ec7-068c-471f-8636-9dd5d5db5a46",
                "name": "invoice_number",
                "value": "",
                "type": "string"
              },
              {
                "id": "b0085698-080e-47c1-903e-998b60d26de4",
                "name": "invoice_date",
                "value": "",
                "type": "string"
              },
              {
                "id": "912ebef3-5250-44e6-961e-bf9707e93612",
                "name": "due_date",
                "value": "",
                "type": "string"
              },
              {
                "id": "045ec47b-e9eb-4fc2-8a78-30e9bc0c9358",
                "name": "currency",
                "value": "",
                "type": "string"
              },
              {
                "id": "d972a781-60da-42ac-8e3c-63c9f7e8d9cc",
                "name": "subtotal",
                "value": "",
                "type": "string"
              },
              {
                "id": "99ea163b-a614-4f0c-8369-4dd9d027e891",
                "name": "gst_total",
                "value": "",
                "type": "string"
              },
              {
                "id": "3d8b67fd-c445-417f-9dc6-99a3e95675eb",
                "name": "total",
                "value": "",
                "type": "string"
              },
              {
                "id": "63cc0276-4b46-4e45-82b7-4d085229b824",
                "name": "amount_due",
                "value": "",
                "type": "string"
              },
              {
                "id": "503ef235-8f8f-4a9d-b0f6-68dc7011ac36",
                "name": "line_1_desc",
                "value": "Manual review required (missing PDF/link)",
                "type": "string"
              },
              {
                "id": "3f377e7d-0ac0-4faa-92d8-a343d6e0e92f",
                "name": "line_1_qty",
                "value": "",
                "type": "string"
              },
              {
                "id": "b458a341-b0cf-455a-834e-854959facbc6",
                "name": "line_1_unit_price",
                "value": "",
                "type": "string"
              },
              {
                "id": "ec223740-ef3f-4a13-8a58-9f5c95de9ce7",
                "name": "xero_link",
                "value": "",
                "type": "string"
              },
              {
                "id": "f4d839b3-d1aa-4a60-b6c2-ee83f2888faa",
                "name": "notes",
                "value": "Manual review required - missing PDF or Xero link",
                "type": "string"
              },
              {
                "id": "8f3ce8f9-b6af-4d2c-9383-fd272afda93b",
                "name": "source",
                "value": "manual_fallback",
                "type": "string"
              },
              {
                "id": "d45396ec-4171-47bc-815a-a0ca0e9dbbc1",
                "name": "message_id",
                "value": "={{ $json.id || $json.message_id || $json.ctx_message_id || \"\" }}",
                "type": "string"
              },
              {
                "id": "2e06322f-da12-47e0-925d-3449869a6033",
                "name": "email_subject",
                "value": "={{ $json.subject || $json.ctx_subject || \"\" }}",
                "type": "string"
              },
              {
                "id": "fa4c3f37-79d3-4dac-bead-c972e65fc11d",
                "name": "email_from_name",
                "value": "={{ $json.from?.emailAddress?.name || $json.ctx_from_name || \"\" }}",
                "type": "string"
              },
              {
                "id": "cc36f543-4123-480e-be2f-e20707ac1c76",
                "name": "email_from_address",
                "value": "={{ $json.from?.emailAddress?.address || $json.ctx_from_email || \"\" }}",
                "type": "string"
              },
              {
                "id": "78a5f696-4e6d-456a-9ed9-721bf1acce77",
                "name": "email_received",
                "value": "={{ $json.receivedDateTime || $json.ctx_received_sydney || \"\" }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "31b98339-5b52-4351-b163-29a59d584158",
        "name": "No Xero Link (log)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          352
        ]
      },
      {
        "parameters": {
          "resource": "messageAttachment",
          "operation": "getAll",
          "messageId": {
            "__rl": true,
            "value": "={{ $('Get Recent Messages').item.json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "id": "c6ed8ef9-2977-46b8-bbe6-0bfa287d789f",
        "name": "List Attachments",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          336,
          -224
        ],
        "webhookId": "5553a9db-2f60-46b1-b3e9-bc7b5f386eda",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "ekJmqpa2V8RnjERW",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const keep=[]; for (const i of $input.all()) { const a=i.json||{}; const ct=(a.contentType||'').toLowerCase(); const nm=(a.name||'').toLowerCase(); if (ct==='application/pdf' || nm.endsWith('.pdf')) keep.push(i); } return keep;"
        },
        "id": "2f4a9575-6ed1-4dbe-a47b-457ebd15fd2f",
        "name": "Only PDFs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          -224
        ]
      },
      {
        "parameters": {
          "resource": "messageAttachment",
          "operation": "download",
          "messageId": {
            "__rl": true,
            "value": "={{ $('Get Recent Messages').item.json.id }}",
            "mode": "id"
          },
          "attachmentId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "id": "7b4ef823-7e87-42a8-9b79-744fa33dd9d7",
        "name": "Download PDF (Attachment)",
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          1008,
          -224
        ],
        "webhookId": "0d9d8dc5-d5e5-47c9-aac6-f19ea9a46ab5",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "ekJmqpa2V8RnjERW",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "pdf_url_clean",
                "value": "={{ $json.xero_link }}",
                "type": "string"
              },
              {
                "name": "pdf_url_download",
                "value": "={{ $json.xero_link ? ($json.xero_link + ($json.xero_link.includes('?')?'&':'?') + 'download=1') : '' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "275fea62-7644-41c3-a88a-2a626350ae18",
        "name": "Prepare Xero URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          160
        ]
      },
      {
        "parameters": {},
        "id": "fe02b6d9-8e08-4755-bbe7-b44d80149324",
        "name": "Read PDF (attach)",
        "type": "n8n-nodes-base.readPDF",
        "typeVersion": 1,
        "position": [
          1232,
          -224
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9c3b79aa-ee23-437f-868f-e761d36789ad",
                "name": "ctx_message_id",
                "value": "={{$json.id}}",
                "type": "string"
              },
              {
                "id": "31c52311-b36e-4486-9c0b-fae0985b9ece",
                "name": "ctx_subject",
                "value": "={{$json.subject || ''}}",
                "type": "string"
              },
              {
                "id": "560399c7-99cc-4e64-9d5e-caccdcf5ea39",
                "name": "ctx_from_email",
                "value": "={{$json.from?.emailAddress?.address || $json.sender?.emailAddress?.address || ''}}",
                "type": "string"
              },
              {
                "id": "aa7cc060-0b4a-4bfb-ac85-eed392211100",
                "name": "ctx_received_sydney",
                "value": "={{ ($json.receivedDateTime ? new Date($json.receivedDateTime) : new Date()).toLocaleString('en-AU',{ timeZone:'Australia/Sydney' }) }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -112,
          64
        ],
        "id": "072ca8d1-74f2-4dbe-8ede-fbe58efa37a9",
        "name": "Stamp Context"
      },
      {
        "parameters": {
          "jsCode": "const out = [];\nconst src = 'attachment';\n\nfor (const i of $input.all()) {\n  const parentIdx = i.pairedItem?.item;\n  const stampArr = $items('Stamp Context', 0) || [];\n  const ctx = (Number.isInteger(parentIdx) && stampArr[parentIdx]?.json) ? stampArr[parentIdx].json : {};\n\n  out.push({\n    json: {\n      ...(i.json || {}),\n      message_id: ctx.ctx_message_id || i.json?.message_id || '',\n      email_subject: ctx.ctx_subject || '',\n      from_email: (ctx.ctx_from_email || '').trim(),\n      received_sydney: ctx.ctx_received_sydney || '',\n      source: src,\n    },\n    // keep binary intact for downstream (Upload + Read PDF)\n    binary: i.binary,\n    pairedItem: i.pairedItem,\n  });\n}\nreturn out;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          -224
        ],
        "id": "b9b108e0-db99-40e6-a597-51fc52fe8df2",
        "name": "Email Meta (attach)1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const j = $input.item.json;\n\n// start from the best available source\nlet url = j.pdf_url_download || j.pdf_url_clean || j.xero_link;\n\n// if we only have the generic view link, force a PDF download param\nif (url && !/\\/Invoice\\/DownloadPdf\\//i.test(url)) {\n  url = url.includes('download=1') ? url : url + (url.includes('?') ? '&' : '?') + 'download=1';\n}\n\nreturn { json: { ...j, pdf_url: url || null } };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          160
        ],
        "id": "62299512-4d44-4d35-b9f6-5a177aa935d2",
        "name": "Normalize PDF Link"
      },
      {
        "parameters": {
          "url": "={{$json.url_for_http}}\n{{\n(() => {\n  const u =\n    $json.xero_pdf_url ||\n    $json[\"@microsoft.graph.downloadUrl\"] ||\n    $json.webUrl ||\n    $json.link;\n\n  if (!u || typeof u !== 'string' || !/^https?:\\/\\//i.test(u.trim())) {\n    throw new Error('Missing/invalid URL for this item');\n  }\n  return u.trim();\n})()\n}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/pdf"
              },
              {
                "name": "User-Agent",
                "value": "n8n"
              },
              {
                "name": "Accept-Language",
                "value": "en-AU,en;q=0.9"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          160
        ],
        "id": "2be6cdb1-8f19-4733-9f7f-029ef7d2259a",
        "name": "HTTP Request"
      },
      {
        "parameters": {},
        "id": "bfaf430d-0898-4a8e-a01f-c45a746febad",
        "name": "Read PDF (xero)",
        "type": "n8n-nodes-base.readPDF",
        "typeVersion": 1,
        "position": [
          1904,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "// Deduplicate by invoice link; keep the newest email per link\nfunction getWhen(j) {\n  return new Date(\n    j.receivedDateTime || j.email_received || j.received_sydney || 0\n  );\n}\n\nfunction extractXeroLink(j) {\n  if (j.xero_link) return String(j.xero_link).trim();\n  if (j.pdf_url_clean) return String(j.pdf_url_clean).trim();\n  // fallback: scrape first in.xero.com URL from HTML body\n  const html = j.body?.content || \"\";\n  const m = html.match(/https:\\/\\/in\\.xero\\.com\\/[A-Za-z0-9]+/);\n  if (m) return m[0];\n  return null;\n}\n\nfunction isSelfSender(j) {\n  const from = (j.email_from ||\n                j.from?.emailAddress?.address ||\n                j.sender?.emailAddress?.address ||\n                \"\").toLowerCase();\n  return from.endsWith(\"@rudraprojects.com.au\");\n}\n\nconst newestByLink = new Map();\nconst passthrough = []; // <-- added\n\nfor (const it of items) {\n  const j = it.json;\n\n  // ignore our own replies/forwards\n  if (isSelfSender(j)) continue;\n\n  const key = extractXeroLink(j);\n  if (!key) {                 // <-- changed\n    passthrough.push(it);     // <-- added\n    continue;                 // <-- added\n  }\n\n  const current = newestByLink.get(key);\n  if (!current || getWhen(j) > getWhen(current.json)) {\n    newestByLink.set(key, it);\n  }\n}\n\n// pass through non-Xero items + newest per Xero link\nreturn [...passthrough, ...Array.from(newestByLink.values())];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          64
        ],
        "id": "41605bf2-7d96-4347-95ef-8d2813537db1",
        "name": "Deduplicate"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Runs per item. Return a SINGLE object.\nconst j = $input.item.json || {};\nconst b = $input.item.binary;\n\nconst raw =\n  j.clean_text || j.text || j.content || j.data?.text || '';\n\nconst clean = String(raw)\n  .replace(/\\r/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/\\u00A0/g, ' ')        // nbsp to space\n  .trim()\n  .slice(0, 7900);                 // keep under ~8k for the AI hop\n\nreturn {\n  json: { ...j, clean_text: clean },\n  binary: b,\n  pairedItem: $input.item.pairedItem\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2192,
          64
        ],
        "id": "017781b4-bdc8-440f-8965-088c396d4ed4",
        "name": "Pre-clean PDF text Xero"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "={{$json.openai_messages[1].content}}"
              },
              {
                "content": "={{$json.openai_messages[0].content}}",
                "role": "system"
              }
            ]
          },
          "options": {
            "maxTokens": 1000,
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2704,
          64
        ],
        "id": "7c2b0949-0e36-41d8-95cd-c954deceb30b",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "swAe9qP168vy2VBk",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = ($json.clean_text ?? $json.text ?? '').toString().trim();\n\n// keep messages non-null\nconst system = `You are an exacting invoice parser. \nReturn ONLY valid JSON that matches the provided JSON Schema. \nNever include commentary. Infer missing fields when strongly implied. \nIf a numeric value is absent, use null (not 0). Dates must be ISO8601 UTC (YYYY-MM-DDTHH:mm:ss.sssZ). \nCurrency codes must be ISO 4217.`;\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    source: { type: \"string\", enum: [\"pdf\"] },\n    invoice_number: { type: \"string\", nullable: true },\n    invoice_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    due_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    supplier: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true },\n        email: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\",\"email\"]\n    },\n    customer: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\"]\n    },\n    currency: { type: \"string\", minLength: 3, maxLength: 3, nullable: true },\n    subtotal: { type: \"number\", nullable: true },\n    gst_total: { type: \"number\", nullable: true },\n    total: { type: \"number\", nullable: true },\n    amount_due: { type: \"number\", nullable: true },\n    bank: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        bsb: { type: \"string\", nullable: true },\n        account: { type: \"string\", nullable: true },\n        reference_hint: { type: \"string\", nullable: true }\n      },\n      required: [\"bsb\",\"account\",\"reference_hint\"]\n    },\n    line_items: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: {\n          description: { type: \"string\" },\n          quantity: { type: \"number\", nullable: true },\n          unit_price: { type: \"number\", nullable: true },\n          tax_rate: { type: \"string\", nullable: true },\n          line_total: { type: \"number\", nullable: true }\n        },\n        required: [\"description\"]\n      }\n    },\n    confidence: { type: \"number\" },\n    notes: { type: \"string\" }\n  },\n  required: [\"source\",\"supplier\",\"customer\",\"bank\",\"line_items\",\"confidence\",\"notes\"]\n};\n\n// minimal, deterministic user instruction with the raw text\nconst user = [\n  \"Extract the following fields from this invoice text. Output ONLY JSON and conform to the JSON Schema exactly.\",\n  \"\",\n  \"=== JSON SCHEMA ===\",\n  JSON.stringify(schema),\n  \"\",\n  \"=== INVOICE TEXT ===\",\n  text.slice(0, 45000) // stay within token limits\n].join(\"\\n\");\n\nreturn {\n  json: {\n    openai_messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user }\n    ],\n    json_schema: schema\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2480,
          64
        ],
        "id": "c1ab0136-5f64-44af-8c7b-b3a9a48ef74a",
        "name": "AI Prompt Builder1"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Input shape examples:\n// { message: { role: 'assistant', content: '```json { ... } ```' } }\n// or { role: 'assistant', content: '```json { ... } ```' }\n\nconst msg = $json.message ?? $json;\nconst raw = (msg.content ?? msg.text ?? '').toString();\n\n// 1) Grab the JSON block\nlet block;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fenced) {\n  block = fenced[1];\n} else {\n  const brace = raw.match(/\\{[\\s\\S]*\\}$/);\n  if (brace) block = brace[0];\n}\nif (!block) throw new Error('No JSON found in AI response');\n\n// 2) Tidy common nuisances: thousand separators, non-breaking spaces\nblock = block\n  .replace(/(\\d),(?=\\d{3}\\b)/g, '$1')  // 6,248.00 -> 6248.00\n  .replace(/\\u00a0/g, ' ');\n\n// 3) Parse\nconst obj = JSON.parse(block);\n\n// 4) Normalize a few fields/types safely\nconst numKeys = ['subtotal','gst_total','total','amount_due','confidence'];\nfor (const k of numKeys) {\n  if (obj[k] !== null && obj[k] !== undefined && obj[k] !== '') {\n    obj[k] = Number(obj[k]);\n  }\n}\nif (obj?.supplier?.abn) obj.supplier.abn = obj.supplier.abn.replace(/\\s+/g, '');\nif (obj?.customer?.abn) obj.customer.abn = obj.customer.abn?.toString().replace(/\\s+/g, '');\nif (!obj.source) obj.source = 'pdf';\n\n// 5) Return a single clean object for this item\nreturn { json: obj };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3056,
          64
        ],
        "id": "f1b9051e-5fa0-404f-979c-904246f7326c",
        "name": "Code1"
      },
      {
        "parameters": {
          "fileName": "={{$binary.data.fileName || $json.safe_subject + '.pdf'}}",
          "parentId": "=015B23OEWATWVPW3ZR3ZDYQVBEYCUAYKUS",
          "binaryData": true
        },
        "type": "n8n-nodes-base.microsoftOneDrive",
        "typeVersion": 1,
        "position": [
          2768,
          256
        ],
        "id": "0eed4dfb-c538-419b-bdf9-929c4a0bbd44",
        "name": "Upload a file",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "qDwJ0G7UXuah04zQ",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "91f87770-f091-4ea7-bb29-48d1da9d7c91",
                "name": "file_name",
                "value": "={{$json.name}}",
                "type": "string"
              },
              {
                "id": "668ef37d-f0e6-4421-bd6e-0672ef0827e6",
                "name": "file_id",
                "value": "={{$json.id}}",
                "type": "string"
              },
              {
                "id": "fec54a16-4c98-4c22-912e-e395d11e5c75",
                "name": "file_url",
                "value": "={{$json.webUrl}}",
                "type": "string"
              },
              {
                "id": "004ba4b4-db10-48ec-9be9-5502a0ed7a27",
                "name": "folder_id",
                "value": "={{$json.parentReference.id}}",
                "type": "string"
              },
              {
                "id": "6291f095-6d7b-4b31-9fea-0917e6d5f448",
                "name": "folder_path",
                "value": "={{$json.parentReference.path}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3056,
          256
        ],
        "id": "99915f4a-8659-4ab9-9014-b3b5bab1cd33",
        "name": "Pick Link Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3526cb3-5169-47ad-957a-4da087bfe53c",
                "name": "supplier_name",
                "value": "={{$json.supplier.name}}",
                "type": "string"
              },
              {
                "id": "63c4db2a-c99e-4022-8660-5ac482b47de4",
                "name": "supplier_abn",
                "value": "={{$json.supplier.abn}}",
                "type": "string"
              },
              {
                "id": "e19080e4-eb0f-4677-aa4b-8be967203053",
                "name": "customer_name",
                "value": "={{$json.customer.name}}",
                "type": "string"
              },
              {
                "id": "607775a4-c083-4951-a0b9-232999331706",
                "name": "customer_abn",
                "value": "={{$json.customer.abn}}",
                "type": "string"
              },
              {
                "id": "a84e2c99-293f-4a89-b3f0-f4aa1a7c2a18",
                "name": "bank_bsb",
                "value": "={{$json.bank.bsb}}",
                "type": "string"
              },
              {
                "id": "c641e41f-2a5b-40f1-b141-49e3c7bb8084",
                "name": "bank_account",
                "value": "={{$json.bank.account}}",
                "type": "string"
              },
              {
                "id": "2eb51574-38ba-4e63-a0d5-30fd2d577a92",
                "name": "invoice_date",
                "value": "={{$json.invoice_date_iso.substring(0,10)}}",
                "type": "string"
              },
              {
                "id": "c1ac8476-9bbe-4b30-8bf8-bdda1b3c01ab",
                "name": "due_date",
                "value": "={{$json.due_date_iso.substring(0,10)}}",
                "type": "string"
              },
              {
                "id": "bbb2db78-2237-47c6-a304-dc4081a21c0e",
                "name": "line_1_desc",
                "value": "={{$json.line_items[0].description}}",
                "type": "string"
              },
              {
                "id": "36573217-99cb-4728-bd49-3160aa40ad77",
                "name": "line_1_qty",
                "value": "={{$json.line_items[0].quantity}}",
                "type": "string"
              },
              {
                "id": "18364b71-6ec2-4554-b8f6-c9394f871722",
                "name": "line_1_unit_price",
                "value": "={{$json.line_items[0].unit_price}}",
                "type": "string"
              },
              {
                "id": "85f3e8d7-745d-42ea-896a-7445ae5a5fca",
                "name": "message_id",
                "value": "={{ $('Get Recent Messages').item.json.id }}",
                "type": "string"
              },
              {
                "id": "f6776ef3-26ff-4f9c-9705-c62974df4f15",
                "name": "email_subject",
                "value": "={{ $('Get Recent Messages').item.json.subject }}",
                "type": "string"
              },
              {
                "id": "99874a8f-da1a-4b91-a064-41100bba5670",
                "name": "email_from_name",
                "value": "={{ $('Get Recent Messages').item.json.sender.emailAddress.name }}",
                "type": "string"
              },
              {
                "id": "977c323e-4748-4f34-b83b-8005aa469945",
                "name": "email_from_address",
                "value": "={{ $('Get Recent Messages').item.json.sender.emailAddress.address }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3504,
          160
        ],
        "id": "58729976-74f0-4a63-a196-9f73b6e9088e",
        "name": "flatten + tidy"
      },
      {
        "parameters": {
          "resource": "table",
          "workbook": {
            "__rl": true,
            "value": "015B23OEQ5YEAYVVQ3RFBYSPXSBCRUAV4U",
            "mode": "list",
            "cachedResultName": "Invoice Register.xlsx",
            "cachedResultUrl": "https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
          },
          "worksheet": {
            "__rl": true,
            "value": "{D39A218A-A3CE-45B6-9741-973D1EC21915}",
            "mode": "list",
            "cachedResultName": "Xero only",
            "cachedResultUrl": "https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Xero%20only!A1"
          },
          "table": {
            "__rl": true,
            "value": "{746D4DF8-6EF0-4D58-990D-C1D799873F6E}",
            "mode": "list",
            "cachedResultName": "Table4",
            "cachedResultUrl": "https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell='Xero%20only'!A1:AA2"
          },
          "dataMode": "autoMap",
          "options": {}
        },
        "id": "cc63b76b-cb1c-47d7-a702-5892375b71ba",
        "name": "Append to Excel (Graph)1",
        "type": "n8n-nodes-base.microsoftExcel",
        "typeVersion": 2.1,
        "position": [
          3728,
          160
        ],
        "credentials": {
          "microsoftExcelOAuth2Api": {
            "id": "oU9W1BbZstgBmEGO",
            "name": "Microsoft Excel account"
          }
        },
        "notes": "Manual mapping to Inv Mgt/Table3 using 20 snake_case fields"
      },
      {
        "parameters": {
          "fileName": "={{$binary.data.fileName || $json.safe_subject + '.pdf'}}",
          "parentId": "=015B23OEWATWVPW3ZR3ZDYQVBEYCUAYKUS",
          "binaryData": true
        },
        "type": "n8n-nodes-base.microsoftOneDrive",
        "typeVersion": 1,
        "position": [
          2192,
          -320
        ],
        "id": "368f1324-92f5-4843-878e-3e9579358db8",
        "name": "Upload a file PDF attachments",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "qDwJ0G7UXuah04zQ",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "={{$json.openai_messages[1].content}}"
              },
              {
                "content": "={{$json.openai_messages[0].content}}",
                "role": "system"
              }
            ]
          },
          "options": {
            "maxTokens": 1000,
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2128,
          -128
        ],
        "id": "961ce347-7085-4f7e-90dc-52ef2bfaf77e",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "swAe9qP168vy2VBk",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = ($json.clean_text ?? $json.text ?? '').toString().trim();\n\n// keep messages non-null\nconst system = `You are an exacting invoice parser. \nReturn ONLY valid JSON that matches the provided JSON Schema. \nNever include commentary. Infer missing fields when strongly implied. \nIf a numeric value is absent, use null (not 0). Dates must be ISO8601 UTC (YYYY-MM-DDTHH:mm:ss.sssZ). \nCurrency codes must be ISO 4217.`;\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    source: { type: \"string\", enum: [\"pdf\"] },\n    invoice_number: { type: \"string\", nullable: true },\n    invoice_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    due_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    supplier: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true },\n        email: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\",\"email\"]\n    },\n    customer: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\"]\n    },\n    currency: { type: \"string\", minLength: 3, maxLength: 3, nullable: true },\n    subtotal: { type: \"number\", nullable: true },\n    gst_total: { type: \"number\", nullable: true },\n    total: { type: \"number\", nullable: true },\n    amount_due: { type: \"number\", nullable: true },\n    bank: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        bsb: { type: \"string\", nullable: true },\n        account: { type: \"string\", nullable: true },\n        reference_hint: { type: \"string\", nullable: true }\n      },\n      required: [\"bsb\",\"account\",\"reference_hint\"]\n    },\n    line_items: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: {\n          description: { type: \"string\" },\n          quantity: { type: \"number\", nullable: true },\n          unit_price: { type: \"number\", nullable: true },\n          tax_rate: { type: \"string\", nullable: true },\n          line_total: { type: \"number\", nullable: true }\n        },\n        required: [\"description\"]\n      }\n    },\n    confidence: { type: \"number\" },\n    notes: { type: \"string\" }\n  },\n  required: [\"source\",\"supplier\",\"customer\",\"bank\",\"line_items\",\"confidence\",\"notes\"]\n};\n\n// minimal, deterministic user instruction with the raw text\nconst user = [\n  \"Extract the following fields from this invoice text. Output ONLY JSON and conform to the JSON Schema exactly.\",\n  \"\",\n  \"=== JSON SCHEMA ===\",\n  JSON.stringify(schema),\n  \"\",\n  \"=== INVOICE TEXT ===\",\n  text.slice(0, 45000) // stay within token limits\n].join(\"\\n\");\n\nreturn {\n  json: {\n    openai_messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user }\n    ],\n    json_schema: schema\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          -128
        ],
        "id": "a889cd46-2c97-47d1-86cd-c037ed1afd50",
        "name": "AI Prompt Builder"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Input shape examples:\n// { message: { role: 'assistant', content: '```json { ... } ```' } }\n// or { role: 'assistant', content: '```json { ... } ```' }\n\nconst msg = $json.message ?? $json;\nconst raw = (msg.content ?? msg.text ?? '').toString();\n\n// 1) Grab the JSON block\nlet block;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fenced) {\n  block = fenced[1];\n} else {\n  const brace = raw.match(/\\{[\\s\\S]*\\}$/);\n  if (brace) block = brace[0];\n}\nif (!block) throw new Error('No JSON found in AI response');\n\n// 2) Tidy common nuisances: thousand separators, non-breaking spaces\nblock = block\n  .replace(/(\\d),(?=\\d{3}\\b)/g, '$1')  // 6,248.00 -> 6248.00\n  .replace(/\\u00a0/g, ' ');\n\n// 3) Parse\nconst obj = JSON.parse(block);\n\n// 4) Normalize a few fields/types safely\nconst numKeys = ['subtotal','gst_total','total','amount_due','confidence'];\nfor (const k of numKeys) {\n  if (obj[k] !== null && obj[k] !== undefined && obj[k] !== '') {\n    obj[k] = Number(obj[k]);\n  }\n}\nif (obj?.supplier?.abn) obj.supplier.abn = obj.supplier.abn.replace(/\\s+/g, '');\nif (obj?.customer?.abn) obj.customer.abn = obj.customer.abn?.toString().replace(/\\s+/g, '');\nif (!obj.source) obj.source = 'pdf';\n\n// 5) Return a single clean object for this item\nreturn { json: obj };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2480,
          -128
        ],
        "id": "757a96fa-d3b4-4dd3-9a84-8c4cdc5dc946",
        "name": "Code"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Runs per item. Return a SINGLE object.\nconst j = $input.item.json || {};\nconst b = $input.item.binary;\n\nconst raw =\n  j.clean_text || j.text || j.content || j.data?.text || '';\n\nconst clean = String(raw)\n  .replace(/\\r/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/\\u00A0/g, ' ')        // nbsp to space\n  .trim()\n  .slice(0, 7900);                 // keep under ~8k for the AI hop\n\nreturn {\n  json: { ...j, clean_text: clean },\n  binary: b,\n  pairedItem: $input.item.pairedItem\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          -128
        ],
        "id": "58f47a17-ab35-4fe0-931a-362bb07fce9c",
        "name": "Pre-clean PDF text"
      },
      {
        "parameters": {
          "resource": "table",
          "workbook": {
            "__rl": true,
            "value": "015B23OEQ5YEAYVVQ3RFBYSPXSBCRUAV4U",
            "mode": "list",
            "cachedResultName": "Invoice Register.xlsx",
            "cachedResultUrl": "https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
          },
          "worksheet": {
            "__rl": true,
            "value": "{11472108-CC87-47CE-A6E8-9C4FC6409368}",
            "mode": "list",
            "cachedResultName": "Frank",
            "cachedResultUrl": "https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Frank!A1"
          },
          "table": {
            "__rl": true,
            "value": "{346B4412-345B-4ED7-9FCE-286CECA4B902}",
            "mode": "list",
            "cachedResultName": "Table2",
            "cachedResultUrl": "https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Frank!A1:AE2"
          },
          "dataMode": "autoMap",
          "options": {}
        },
        "id": "4d204563-b8a2-4940-8c7b-427f9eeb0da0",
        "name": "Append to Excel (Graph)",
        "type": "n8n-nodes-base.microsoftExcel",
        "typeVersion": 2.1,
        "position": [
          3280,
          -224
        ],
        "credentials": {
          "microsoftExcelOAuth2Api": {
            "id": "oU9W1BbZstgBmEGO",
            "name": "Microsoft Excel account"
          }
        },
        "notes": "Manual mapping to Inv Mgt/Table3 using 20 snake_case fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "91f87770-f091-4ea7-bb29-48d1da9d7c91",
                "name": "file_name",
                "value": "={{$json.name}}",
                "type": "string"
              },
              {
                "id": "668ef37d-f0e6-4421-bd6e-0672ef0827e6",
                "name": "file_id",
                "value": "={{$json.id}}",
                "type": "string"
              },
              {
                "id": "fec54a16-4c98-4c22-912e-e395d11e5c75",
                "name": "file_url",
                "value": "={{$json.webUrl}}",
                "type": "string"
              },
              {
                "id": "004ba4b4-db10-48ec-9be9-5502a0ed7a27",
                "name": "folder_id",
                "value": "={{$json.parentReference.id}}",
                "type": "string"
              },
              {
                "id": "6291f095-6d7b-4b31-9fea-0917e6d5f448",
                "name": "folder_path",
                "value": "={{$json.parentReference.path}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2480,
          -320
        ],
        "id": "b078cf4c-5d36-4996-99ab-9e52eb1acf2c",
        "name": "Pick Link Fields from PDF"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2768,
          -224
        ],
        "id": "f092cdc9-1d62-4a0b-beed-1b8c4d36f10c",
        "name": "Merge invoice data pdf"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3280,
          160
        ],
        "id": "cc17ae9e-c91d-4be9-80ce-70cc21a655b4",
        "name": "Merge invoice data xero"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3526cb3-5169-47ad-957a-4da087bfe53c",
                "name": "supplier_name",
                "value": "={{$json.supplier.name}}",
                "type": "string"
              },
              {
                "id": "63c4db2a-c99e-4022-8660-5ac482b47de4",
                "name": "supplier_abn",
                "value": "={{$json.supplier.abn}}",
                "type": "string"
              },
              {
                "id": "e19080e4-eb0f-4677-aa4b-8be967203053",
                "name": "customer_name",
                "value": "={{$json.customer.name}}",
                "type": "string"
              },
              {
                "id": "607775a4-c083-4951-a0b9-232999331706",
                "name": "customer_abn",
                "value": "={{$json.customer.abn}}",
                "type": "string"
              },
              {
                "id": "a84e2c99-293f-4a89-b3f0-f4aa1a7c2a18",
                "name": "bank_bsb",
                "value": "={{$json.bank.bsb}}",
                "type": "string"
              },
              {
                "id": "c641e41f-2a5b-40f1-b141-49e3c7bb8084",
                "name": "bank_account",
                "value": "={{$json.bank.account}}",
                "type": "string"
              },
              {
                "id": "2eb51574-38ba-4e63-a0d5-30fd2d577a92",
                "name": "invoice_date",
                "value": "={{$json.invoice_date_iso.substring(0,10)}}",
                "type": "string"
              },
              {
                "id": "c1ac8476-9bbe-4b30-8bf8-bdda1b3c01ab",
                "name": "due_date",
                "value": "={{$json.due_date_iso.substring(0,10)}}",
                "type": "string"
              },
              {
                "id": "bbb2db78-2237-47c6-a304-dc4081a21c0e",
                "name": "line_1_desc",
                "value": "={{$json.line_items[0].description}}",
                "type": "string"
              },
              {
                "id": "36573217-99cb-4728-bd49-3160aa40ad77",
                "name": "line_1_qty",
                "value": "={{$json.line_items[0].quantity}}",
                "type": "string"
              },
              {
                "id": "18364b71-6ec2-4554-b8f6-c9394f871722",
                "name": "line_1_unit_price",
                "value": "={{$json.line_items[0].unit_price}}",
                "type": "string"
              },
              {
                "id": "85f3e8d7-745d-42ea-896a-7445ae5a5fca",
                "name": "message_id",
                "value": "={{ $('Get Recent Messages').item.json.id }}",
                "type": "string"
              },
              {
                "id": "f6776ef3-26ff-4f9c-9705-c62974df4f15",
                "name": "email_subject",
                "value": "={{ $('Get Recent Messages').item.json.subject }}",
                "type": "string"
              },
              {
                "id": "3765fbc1-fd31-4c08-b4f4-f520c02e74c6",
                "name": "email_from_name",
                "value": "={{ $('Get Recent Messages').item.json.sender.emailAddress.name }}",
                "type": "string"
              },
              {
                "id": "a8cea665-5bee-487c-98fb-d313536d2ae8",
                "name": "email_from_address",
                "value": "={{ $('Get Recent Messages').item.json.sender.emailAddress.address }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3056,
          -224
        ],
        "id": "d5940a97-a3c0-47fd-bdbf-942bcfa07f01",
        "name": "flatten + tidy pdf"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const u = item.json.url_for_http;\n  item.json.debug_url_for_http = u || '\u26a0\ufe0f undefined';\n  return item;\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          160
        ],
        "id": "575934ef-6bcb-49c5-9cbf-7133c4692230",
        "name": "Code2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d4a2b6d3-17f3-4776-9f25-d77032e1bf72",
                "leftValue": "={{ $json.debug_url_for_http }}",
                "rightValue": "\u26a0\ufe0f undefined",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1456,
          160
        ],
        "id": "2a83a403-e970-402e-b5f7-d3f657768101",
        "name": "Filter"
      },
      {
        "parameters": {
          "jsCode": "const invoices = [];\nconst fallbackMap = new Map();\nconst seenInvoiceMessages = new Set();\nconst stampItems = $items('Stamp Context', 0) || [];\nconst messagesWithAttachments = $items('Has Attachments?', 0) || [];\n\nfor (const item of items) {\n  const j = item.json || {};\n  const nameRaw = (j.name || j.fileName || item.binary?.data?.fileName || '') + '';\n  const name = nameRaw.toLowerCase();\n  const text = ((j.clean_text || j.text || '') + '').toLowerCase();\n\n  const hasBinaryPdf = !!(item.binary?.data && name.endsWith('.pdf'));\n\n  const nameLikely = /\b(inv[-_ ]?\\d+|invoice|tax[- ]?invoice)\b/.test(name);\n  const textLikely = /\b(tax invoice|invoice number|amount due|gst|abn)\b/.test(text);\n  const nameBad = /\b(statement|remittance|receipt|quote|quotation|proforma)\b/.test(name);\n  const textBad = /\b(statement\b|account summary|remittance advice|receipt)\b/.test(text);\n\n  const isInvoiceCandidate = hasBinaryPdf && (nameLikely || textLikely) && !(nameBad || textBad);\n\n  const parentIdx = item.pairedItem?.item;\n  const ctx = Number.isInteger(parentIdx) && stampItems[parentIdx]?.json ? stampItems[parentIdx].json : null;\n  const messageId = ctx?.ctx_message_id || ctx?.id || j.message_id;\n\n  if (isInvoiceCandidate) {\n    const clone = { json: { ...j } };\n    delete clone.json.fallback_from_attachments;\n    clone.json.source = 'attachment';\n    if (item.binary) clone.binary = item.binary;\n    if (item.pairedItem) clone.pairedItem = item.pairedItem;\n    invoices.push(clone);\n    if (messageId) seenInvoiceMessages.add(messageId);\n    continue;\n  }\n\n  if (!ctx || !messageId || fallbackMap.has(messageId)) continue;\n\n  const ctxClone = JSON.parse(JSON.stringify(ctx));\n  ctxClone.source = 'link';\n  ctxClone.fallback_from_attachments = true;\n  fallbackMap.set(messageId, { json: ctxClone });\n}\n\nfor (const msg of messagesWithAttachments) {\n  const m = msg.json || {};\n  const messageId = m.ctx_message_id || m.id || m.message_id;\n  if (!messageId || seenInvoiceMessages.has(messageId) || fallbackMap.has(messageId)) continue;\n  const ctxClone = JSON.parse(JSON.stringify(m));\n  ctxClone.source = 'link';\n  ctxClone.fallback_from_attachments = true;\n  fallbackMap.set(messageId, { json: ctxClone });\n}\n\nreturn invoices.concat(Array.from(fallbackMap.values()));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          -224
        ],
        "id": "d9a98a5e-bc84-4363-8a09-c8bb96f5ddb9",
        "name": "drop non-invoice PDFs, keep invoices"
      },
      {
        "parameters": {},
        "id": "b32c5cd3-9562-4e70-bfe3-35f684e0f940",
        "name": "Execute Backfill Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -1200,
          64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{$json.fallback_from_attachments}}",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "id": "4ab544ff-3030-4105-a6b2-ad5bbdbdec8d"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1680,
          -48
        ],
        "id": "2842b52b-0c5f-49d2-8f6a-c806fed2ca84",
        "name": "Route Fallback"
      }
    ],
    "connections": {
      "Schedule": {
        "main": [
          [
            {
              "node": "Get Recent Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Recent Messages": {
        "main": [
          [
            {
              "node": "Deduplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Precompute": {
        "main": [
          [
            {
              "node": "Stamp Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Attachments?": {
        "main": [
          [
            {
              "node": "List Attachments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Compute Xero Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Attachments": {
        "main": [
          [
            {
              "node": "Only PDFs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only PDFs": {
        "main": [
          [
            {
              "node": "Email Meta (attach)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Xero Link?": {
        "main": [
          [
            {
              "node": "Prepare Xero URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Xero Link (log)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Xero URL": {
        "main": [
          [
            {
              "node": "Normalize PDF Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Xero Link": {
        "main": [
          [
            {
              "node": "Has Xero Link?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download PDF (Attachment)": {
        "main": [
          [
            {
              "node": "Read PDF (attach)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read PDF (attach)": {
        "main": [
          [
            {
              "node": "drop non-invoice PDFs, keep invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stamp Context": {
        "main": [
          [
            {
              "node": "Has Attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Meta (attach)1": {
        "main": [
          [
            {
              "node": "Download PDF (Attachment)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize PDF Link": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Read PDF (xero)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read PDF (xero)": {
        "main": [
          [
            {
              "node": "Pre-clean PDF text Xero",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduplicate": {
        "main": [
          [
            {
              "node": "Precompute",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pre-clean PDF text Xero": {
        "main": [
          [
            {
              "node": "AI Prompt Builder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Prompt Builder1": {
        "main": [
          [
            {
              "node": "OpenAI Chat Model1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Merge invoice data xero",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a file": {
        "main": [
          [
            {
              "node": "Pick Link Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick Link Fields": {
        "main": [
          [
            {
              "node": "Merge invoice data xero",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "flatten + tidy": {
        "main": [
          [
            {
              "node": "Append to Excel (Graph)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a file PDF attachments": {
        "main": [
          [
            {
              "node": "Pick Link Fields from PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Prompt Builder": {
        "main": [
          [
            {
              "node": "OpenAI Chat Model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pre-clean PDF text": {
        "main": [
          [
            {
              "node": "AI Prompt Builder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Merge invoice data pdf",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Pick Link Fields from PDF": {
        "main": [
          [
            {
              "node": "Merge invoice data pdf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge invoice data pdf": {
        "main": [
          [
            {
              "node": "flatten + tidy pdf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge invoice data xero": {
        "main": [
          [
            {
              "node": "flatten + tidy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "flatten + tidy pdf": {
        "main": [
          [
            {
              "node": "Append to Excel (Graph)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "drop non-invoice PDFs, keep invoices": {
        "main": [
          [
            {
              "node": "Route Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Backfill Trigger": {
        "main": [
          [
            {
              "node": "Get Recent Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Fallback": {
        "main": [
          [
            {
              "node": "No Xero Link (log)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pre-clean PDF text",
              "type": "main",
              "index": 0
            },
            {
              "node": "Upload a file PDF attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Xero Link (log)": {
        "main": [
          [
            {
              "node": "Append to Excel (Graph)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": {
      "node:Schedule": {
        "recurrenceRules": [
          21
        ]
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "50288656-abf5-4ccd-aa32-dc8652d9b0dc",
    "triggerCount": 1,
    "tags": [
      {
        "createdAt": "2025-08-02T11:57:55.593Z",
        "updatedAt": "2025-08-02T11:57:55.593Z",
        "id": "9q2hEZiA0ujceLQl",
        "name": "PROD"
      }
    ],
    "shared": [
      {
        "createdAt": "2025-09-07T09:41:51.071Z",
        "updatedAt": "2025-09-07T09:41:51.071Z",
        "role": "workflow:owner",
        "workflowId": "fEAs3LZr0lMDWziF",
        "projectId": "OOfqf1PcdXc4mAMQ",
        "project": {
          "createdAt": "2025-08-02T11:30:32.205Z",
          "updatedAt": "2025-08-02T11:32:05.229Z",
          "id": "OOfqf1PcdXc4mAMQ",
          "name": "SSS Sure <sureshotsolutions09@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
]