docs/n8n-workflows/exports/wf-wzR6HlmIjTuvfyfj.json
[{"createdAt":"2025-09-06T11:01:01.064Z","updatedAt":"2025-09-07T10:03:08.000Z","id":"wzR6HlmIjTuvfyfj","name":"Zara Invoice Management V2.0 xero only","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"id":"c5f84928-7860-447d-a7eb-be932af8b520","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1008,64]},{"parameters":{"operation":"getAll","returnAll":true,"output":"fields","fields":["id","subject","from","sender","body","hasAttachments","receivedDateTime","internetMessageId"],"filtersUI":{"values":{"filters":{"custom":"=(receivedDateTime ge {{ new Date(Date.now() - 6 * 60 * 60 * 1000).toISOString() }})\nand (\n  from/emailAddress/address eq 'invoicereminders@post.xero.com'\n  or (from/emailAddress/address eq 'messaging-service@post.xero.com' and contains(subject,'Invoice'))\n)"}}},"options":{"downloadAttachments":false}},"id":"6aceaacb-92ce-4e97-9c8a-c481a281dc8f","name":"Get Recent Messages","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-784,64],"webhookId":"888df27e-cb37-4292-89af-c06ef8a7508a","credentials":{"microsoftOutlookOAuth2Api":{"id":"ekJmqpa2V8RnjERW","name":"Microsoft Outlook account 2"}}},{"parameters":{"assignments":{"assignments":[{"name":"message_id","value":"={{$json.id}}","type":"string","id":"a735bafe-7f86-4757-bdc0-42c42825cae7"},{"name":"email_subject","value":"={{ $json.subject || '' }}","type":"string","id":"9b228388-bfd1-4004-bd14-998fc902a02d"},{"name":"email_from","value":"={{ $json.from?.emailAddress?.address || $json.sender?.emailAddress?.address || '' }}","type":"string","id":"2d750707-71f2-4524-9374-3ab35d08d5f7"},{"name":"email_received","value":"={{ new Date($json.receivedDateTime || Date.now()).toLocaleString('en-AU',{ timeZone:'Australia/Sydney' }) }}","type":"string","id":"14bc88bf-4c7f-42a5-b464-8a89431fb13e"},{"name":"has_attachments","value":"={{ $json.hasAttachments === true }}","type":"boolean","id":"b27ed06e-db85-4800-aa3a-dd211791e3a0"},{"name":"safe_subject","value":"={{ ($json.subject || 'Email').replace(/[^a-zA-Z0-9\\-]/g,'-').substring(0,50) }}","type":"string","id":"2bbd0302-4d4e-47bf-9809-922ab4f3c957"},{"name":"xero_link","value":"={{ '' }}","type":"string","id":"19cfe728-02cb-481b-8651-269212072bd4"}]},"includeOtherFields":true,"options":{}},"id":"67c8d877-ba82-44cd-9736-c322fb2495a9","name":"Precompute","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Build one clean URL for the HTTP node: url_for_http\nconst j = $input.item.json;\nconst html = String(j.body?.content || '').replace(/&amp;/g, '&');\n\nlet url =\n  // Prefer the explicit DownloadPdf link in the email\n  (html.match(/href\\s*=\\s*\"(https?:\\/\\/[^\"]+\\/Invoice\\/DownloadPdf\\/[a-f0-9-]+[^\"]*)\"/i)?.[1]) ||\n  (html.match(/href\\s*=\\s*'(https?:\\/\\/[^']+\\/Invoice\\/DownloadPdf\\/[a-f0-9-]+[^']*)'/i)?.[1]) ||\n  // Fallbacks from parsed fields\n  j.pdf_url_download || j.pdf_url_clean || j.xero_link || '';\n\n// normalize + strip nasties\nurl = String(url)\n  .replace(/&amp;/g, '&')\n  .replace(/[\\u0000-\\u001F\\u007F]/g, '')    // control chars\n  .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')    // zero-width\n  .replace(/\\s+/g, ' ')                     // collapse spaces\n  .trim()\n  .replace(/^http:\\/\\//i, 'https://')\n  .split('#')[0];\n\nconst url_for_http = encodeURI(url);\n\n// Validate lightly\nif (!/^https?:\\/\\/[A-Za-z0-9.-]+\\/[^\\s]*$/i.test(url_for_http)) {\n  return { json: { ...j, _fatal: 'bad_url', raw_url: url, url_for_http } };\n}\n\nreturn { json: { ...j, url_for_http } };"},"id":"fce9678c-9b7b-4c49-96d4-bde123c49779","name":"Compute Xero Link","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{$json.has_attachments}}","operator":{"type":"boolean","operation":"true"},"id":"02f7e640-85a0-4684-971c-1ca404dd6d79"}],"combinator":"and"},"options":{}},"id":"02b88610-20fe-4d42-a5cf-5248d4ee343a","name":"Has Attachments?","type":"n8n-nodes-base.if","typeVersion":2,"position":[112,64]},{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.xero_link?.length}}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"120dce2e-b93e-41d6-af0b-cce974eded24","name":"Has Xero Link?","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,256]},{"parameters":{"assignments":{"assignments":[{"name":"log","value":"No Xero link detected","type":"string"},{"name":"subject","value":"={{$json.subject}}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"6bdb808d-d338-46c6-ade2-35c1553e27a4","name":"No Xero Link (log)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,352]},{"parameters":{"resource":"messageAttachment","operation":"getAll","messageId":{"__rl":true,"value":"={{ $('Get Recent Messages').item.json.id }}","mode":"id"},"options":{}},"id":"235b3956-0289-44d1-a15b-223b4d02e403","name":"List Attachments","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[336,-224],"webhookId":"a2e21949-d8a5-41da-a4b7-806a8cab9ae2","credentials":{"microsoftOutlookOAuth2Api":{"id":"ekJmqpa2V8RnjERW","name":"Microsoft Outlook account 2"}}},{"parameters":{"jsCode":"const keep=[]; for (const i of $input.all()) { const a=i.json||{}; const ct=(a.contentType||'').toLowerCase(); const nm=(a.name||'').toLowerCase(); if (ct==='application/pdf' || nm.endsWith('.pdf')) keep.push(i); } return keep;"},"id":"4c0ef5b9-03d7-4fbb-a7e3-8e39f92b4a7e","name":"Only PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-224]},{"parameters":{"resource":"messageAttachment","operation":"download","messageId":{"__rl":true,"value":"={{ $('Get Recent Messages').item.json.id }}","mode":"id"},"attachmentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"id":"14006493-4f14-463a-a22a-a86cbc743e16","name":"Download PDF (Attachment)","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1008,-224],"webhookId":"1fe35341-2630-4c7c-930e-e0c67e7af2f2","credentials":{"microsoftOutlookOAuth2Api":{"id":"ekJmqpa2V8RnjERW","name":"Microsoft Outlook account 2"}}},{"parameters":{"assignments":{"assignments":[{"name":"pdf_url_clean","value":"={{ $json.xero_link }}","type":"string"},{"name":"pdf_url_download","value":"={{ $json.xero_link ? ($json.xero_link + ($json.xero_link.includes('?')?'&':'?') + 'download=1') : '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"d345ef72-81cb-4e85-84ef-2750b8cac49a","name":"Prepare Xero URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,160]},{"parameters":{},"id":"5cbb37c7-1a0e-4200-b6f1-d567d8794d3d","name":"Read PDF (attach)","type":"n8n-nodes-base.readPDF","typeVersion":1,"position":[1232,-224]},{"parameters":{"assignments":{"assignments":[{"id":"9c3b79aa-ee23-437f-868f-e761d36789ad","name":"ctx_message_id","value":"={{$json.id}}","type":"string"},{"id":"31c52311-b36e-4486-9c0b-fae0985b9ece","name":"ctx_subject","value":"={{$json.subject || ''}}","type":"string"},{"id":"560399c7-99cc-4e64-9d5e-caccdcf5ea39","name":"ctx_from_email","value":"={{$json.from?.emailAddress?.address || $json.sender?.emailAddress?.address || ''}}","type":"string"},{"id":"aa7cc060-0b4a-4bfb-ac85-eed392211100","name":"ctx_received_sydney","value":"={{ ($json.receivedDateTime ? new Date($json.receivedDateTime) : new Date()).toLocaleString('en-AU',{ timeZone:'Australia/Sydney' }) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,64],"id":"222d216e-9472-48b7-8df6-cdf5f6be8314","name":"Stamp Context"},{"parameters":{"jsCode":"const out = [];\nconst src = 'attachment';\n\nfor (const i of $input.all()) {\n  const parentIdx = i.pairedItem?.item;\n  const stampArr = $items('Stamp Context', 0) || [];\n  const ctx = (Number.isInteger(parentIdx) && stampArr[parentIdx]?.json) ? stampArr[parentIdx].json : {};\n\n  out.push({\n    json: {\n      ...(i.json || {}),\n      message_id: ctx.ctx_message_id || i.json?.message_id || '',\n      email_subject: ctx.ctx_subject || '',\n      from_email: (ctx.ctx_from_email || '').trim(),\n      received_sydney: ctx.ctx_received_sydney || '',\n      source: src,\n    },\n    // keep binary intact for downstream (Upload + Read PDF)\n    binary: i.binary,\n    pairedItem: i.pairedItem,\n  });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-224],"id":"9b54947b-570d-4770-9144-906ac60f54ba","name":"Email Meta (attach)1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const j = $input.item.json;\n\n// start from the best available source\nlet url = j.pdf_url_download || j.pdf_url_clean || j.xero_link;\n\n// if we only have the generic view link, force a PDF download param\nif (url && !/\\/Invoice\\/DownloadPdf\\//i.test(url)) {\n  url = url.includes('download=1') ? url : url + (url.includes('?') ? '&' : '?') + 'download=1';\n}\n\nreturn { json: { ...j, pdf_url: url || null } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,160],"id":"5b52bcbf-75b4-4a3e-8954-5a3ccd3e288b","name":"Normalize PDF Link"},{"parameters":{"url":"={{\n(() => {\n  const u =\n    $json.xero_pdf_url ||\n    $json[\"@microsoft.graph.downloadUrl\"] ||\n    $json.webUrl ||\n    $json.link;\n\n  if (!u || typeof u !== 'string' || !/^https?:\\/\\//i.test(u.trim())) {\n    throw new Error('Missing/invalid URL for this item');\n  }\n  return u.trim();\n})()\n}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/pdf"},{"name":"User-Agent","value":"n8n"},{"name":"Accept-Language","value":"en-AU,en;q=0.9"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,160],"id":"437b4462-66e9-4bcd-99f3-ea843f455e9a","name":"HTTP Request"},{"parameters":{},"id":"121fce82-2192-46f8-8d7c-48757219287f","name":"Read PDF (xero)","type":"n8n-nodes-base.readPDF","typeVersion":1,"position":[1968,160]},{"parameters":{"jsCode":"// Deduplicate by invoice link; keep the newest email per link\nfunction getWhen(j) {\n  return new Date(\n    j.receivedDateTime || j.email_received || j.received_sydney || 0\n  );\n}\n\nfunction extractXeroLink(j) {\n  if (j.xero_link) return String(j.xero_link).trim();\n  if (j.pdf_url_clean) return String(j.pdf_url_clean).trim();\n  // fallback: scrape first in.xero.com URL from HTML body\n  const html = j.body?.content || \"\";\n  const m = html.match(/https:\\/\\/in\\.xero\\.com\\/[A-Za-z0-9]+/);\n  if (m) return m[0];\n  return null;\n}\n\nfunction isSelfSender(j) {\n  const from = (j.email_from ||\n                j.from?.emailAddress?.address ||\n                j.sender?.emailAddress?.address ||\n                \"\").toLowerCase();\n  return from.endsWith(\"@rudraprojects.com.au\");\n}\n\nconst newestByLink = new Map();\n\nfor (const it of items) {\n  const j = it.json;\n\n  // ignore our own replies/forwards\n  if (isSelfSender(j)) continue;\n\n  const key = extractXeroLink(j);\n  if (!key) continue;\n\n  const current = newestByLink.get(key);\n  if (!current || getWhen(j) > getWhen(current.json)) {\n    newestByLink.set(key, it);\n  }\n}\n\nreturn Array.from(newestByLink.values());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,64],"id":"94c31470-52f1-4503-8188-bcb0dbc6459a","name":"Deduplicate"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Runs per item. Return a SINGLE object.\nconst j = $input.item.json || {};\nconst b = $input.item.binary;\n\nconst raw =\n  j.clean_text || j.text || j.content || j.data?.text || '';\n\nconst clean = String(raw)\n  .replace(/\\r/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/\\u00A0/g, ' ')        // nbsp to space\n  .trim()\n  .slice(0, 7900);                 // keep under ~8k for the AI hop\n\nreturn {\n  json: { ...j, clean_text: clean },\n  binary: b,\n  pairedItem: $input.item.pairedItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,64],"id":"a06c2528-143c-493d-9ee2-fbf7bed7eeca","name":"Pre-clean PDF text Xero"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{$json.openai_messages[1].content}}"},{"content":"={{$json.openai_messages[0].content}}","role":"system"}]},"options":{"maxTokens":1000,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2704,64],"id":"b2f10820-d55d-4e48-944e-167f013aadc8","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"swAe9qP168vy2VBk","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = ($json.clean_text ?? $json.text ?? '').toString().trim();\n\n// keep messages non-null\nconst system = `You are an exacting invoice parser. \nReturn ONLY valid JSON that matches the provided JSON Schema. \nNever include commentary. Infer missing fields when strongly implied. \nIf a numeric value is absent, use null (not 0). Dates must be ISO8601 UTC (YYYY-MM-DDTHH:mm:ss.sssZ). \nCurrency codes must be ISO 4217.`;\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    source: { type: \"string\", enum: [\"pdf\"] },\n    invoice_number: { type: \"string\", nullable: true },\n    invoice_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    due_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    supplier: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true },\n        email: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\",\"email\"]\n    },\n    customer: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\"]\n    },\n    currency: { type: \"string\", minLength: 3, maxLength: 3, nullable: true },\n    subtotal: { type: \"number\", nullable: true },\n    gst_total: { type: \"number\", nullable: true },\n    total: { type: \"number\", nullable: true },\n    amount_due: { type: \"number\", nullable: true },\n    bank: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        bsb: { type: \"string\", nullable: true },\n        account: { type: \"string\", nullable: true },\n        reference_hint: { type: \"string\", nullable: true }\n      },\n      required: [\"bsb\",\"account\",\"reference_hint\"]\n    },\n    line_items: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: {\n          description: { type: \"string\" },\n          quantity: { type: \"number\", nullable: true },\n          unit_price: { type: \"number\", nullable: true },\n          tax_rate: { type: \"string\", nullable: true },\n          line_total: { type: \"number\", nullable: true }\n        },\n        required: [\"description\"]\n      }\n    },\n    confidence: { type: \"number\" },\n    notes: { type: \"string\" }\n  },\n  required: [\"source\",\"supplier\",\"customer\",\"bank\",\"line_items\",\"confidence\",\"notes\"]\n};\n\n// minimal, deterministic user instruction with the raw text\nconst user = [\n  \"Extract the following fields from this invoice text. Output ONLY JSON and conform to the JSON Schema exactly.\",\n  \"\",\n  \"=== JSON SCHEMA ===\",\n  JSON.stringify(schema),\n  \"\",\n  \"=== INVOICE TEXT ===\",\n  text.slice(0, 45000) // stay within token limits\n].join(\"\\n\");\n\nreturn {\n  json: {\n    openai_messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user }\n    ],\n    json_schema: schema\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,64],"id":"bf8a6594-6c93-4b8a-8a66-be312452e943","name":"AI Prompt Builder1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input shape examples:\n// { message: { role: 'assistant', content: '```json { ... } ```' } }\n// or { role: 'assistant', content: '```json { ... } ```' }\n\nconst msg = $json.message ?? $json;\nconst raw = (msg.content ?? msg.text ?? '').toString();\n\n// 1) Grab the JSON block\nlet block;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fenced) {\n  block = fenced[1];\n} else {\n  const brace = raw.match(/\\{[\\s\\S]*\\}$/);\n  if (brace) block = brace[0];\n}\nif (!block) throw new Error('No JSON found in AI response');\n\n// 2) Tidy common nuisances: thousand separators, non-breaking spaces\nblock = block\n  .replace(/(\\d),(?=\\d{3}\\b)/g, '$1')  // 6,248.00 -> 6248.00\n  .replace(/\\u00a0/g, ' ');\n\n// 3) Parse\nconst obj = JSON.parse(block);\n\n// 4) Normalize a few fields/types safely\nconst numKeys = ['subtotal','gst_total','total','amount_due','confidence'];\nfor (const k of numKeys) {\n  if (obj[k] !== null && obj[k] !== undefined && obj[k] !== '') {\n    obj[k] = Number(obj[k]);\n  }\n}\nif (obj?.supplier?.abn) obj.supplier.abn = obj.supplier.abn.replace(/\\s+/g, '');\nif (obj?.customer?.abn) obj.customer.abn = obj.customer.abn?.toString().replace(/\\s+/g, '');\nif (!obj.source) obj.source = 'pdf';\n\n// 5) Return a single clean object for this item\nreturn { json: obj };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,64],"id":"5e83c49c-d32f-4dea-a9e9-b10e0ace0b73","name":"Code1"},{"parameters":{"fileName":"={{$binary.data.fileName || $json.safe_subject + '.pdf'}}","parentId":"=015B23OEWATWVPW3ZR3ZDYQVBEYCUAYKUS","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[2768,256],"id":"1714029e-78a9-4f0c-be0b-9fe835f85658","name":"Upload a file","credentials":{"microsoftOneDriveOAuth2Api":{"id":"qDwJ0G7UXuah04zQ","name":"Microsoft Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91f87770-f091-4ea7-bb29-48d1da9d7c91","name":"file_name","value":"={{$json.name}}","type":"string"},{"id":"668ef37d-f0e6-4421-bd6e-0672ef0827e6","name":"file_id","value":"={{$json.id}}","type":"string"},{"id":"fec54a16-4c98-4c22-912e-e395d11e5c75","name":"file_url","value":"={{$json.webUrl}}","type":"string"},{"id":"004ba4b4-db10-48ec-9be9-5502a0ed7a27","name":"folder_id","value":"={{$json.parentReference.id}}","type":"string"},{"id":"6291f095-6d7b-4b31-9fea-0917e6d5f448","name":"folder_path","value":"={{$json.parentReference.path}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,256],"id":"311e5f85-f356-4d17-b515-bce1c198c225","name":"Pick Link Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a3526cb3-5169-47ad-957a-4da087bfe53c","name":"supplier_name","value":"={{$json.supplier.name}}","type":"string"},{"id":"63c4db2a-c99e-4022-8660-5ac482b47de4","name":"supplier_abn","value":"={{$json.supplier.abn}}","type":"string"},{"id":"e19080e4-eb0f-4677-aa4b-8be967203053","name":"customer_name","value":"={{$json.customer.name}}","type":"string"},{"id":"607775a4-c083-4951-a0b9-232999331706","name":"customer_abn","value":"={{$json.customer.abn}}","type":"string"},{"id":"a84e2c99-293f-4a89-b3f0-f4aa1a7c2a18","name":"bank_bsb","value":"={{$json.bank.bsb}}","type":"string"},{"id":"c641e41f-2a5b-40f1-b141-49e3c7bb8084","name":"bank_account","value":"={{$json.bank.account}}","type":"string"},{"id":"2eb51574-38ba-4e63-a0d5-30fd2d577a92","name":"invoice_date","value":"={{ ($json.invoice_date_iso || '').substring(0,10) }}","type":"string"},{"id":"c1ac8476-9bbe-4b30-8bf8-bdda1b3c01ab","name":"due_date","value":"={{ ($json.due_date_iso || '').substring(0,10) }}","type":"string"},{"id":"bbb2db78-2237-47c6-a304-dc4081a21c0e","name":"line_1_desc","value":"={{$json.line_items[0].description}}","type":"string"},{"id":"36573217-99cb-4728-bd49-3160aa40ad77","name":"line_1_qty","value":"={{$json.line_items[0].quantity}}","type":"string"},{"id":"18364b71-6ec2-4554-b8f6-c9394f871722","name":"line_1_unit_price","value":"={{$json.line_items[0].unit_price}}","type":"string"},{"id":"85f3e8d7-745d-42ea-896a-7445ae5a5fca","name":"message_id","value":"={{ $('Get Recent Messages').item.json.id }}","type":"string"},{"id":"f6776ef3-26ff-4f9c-9705-c62974df4f15","name":"email_subject","value":"={{ $('Get Recent Messages').item.json.subject }}","type":"string"},{"id":"99874a8f-da1a-4b91-a064-41100bba5670","name":"email_from_name","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.name }}","type":"string"},{"id":"977c323e-4748-4f34-b83b-8005aa469945","name":"email_from_address","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.address }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3504,160],"id":"cd61b447-37e6-41c7-bb1d-af4065f7829c","name":"flatten + tidy"},{"parameters":{"resource":"table","workbook":{"__rl":true,"value":"015B23OEQ5YEAYVVQ3RFBYSPXSBCRUAV4U","mode":"list","cachedResultName":"Invoice Register.xlsx","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{D39A218A-A3CE-45B6-9741-973D1EC21915}","mode":"list","cachedResultName":"Xero only","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Xero%20only!A1"},"table":{"__rl":true,"value":"{746D4DF8-6EF0-4D58-990D-C1D799873F6E}","mode":"list","cachedResultName":"Table4","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell='Xero%20only'!A1:AA2"},"dataMode":"autoMap","options":{}},"id":"77295f8f-c0d6-4c62-9882-519ee05898f9","name":"Append to Excel (Graph)1","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[3728,160],"credentials":{"microsoftExcelOAuth2Api":{"id":"oU9W1BbZstgBmEGO","name":"Microsoft Excel account"}},"notes":"Manual mapping to Inv Mgt/Table3 using 20 snake_case fields"},{"parameters":{"fileName":"={{$binary.data.fileName || $json.safe_subject + '.pdf'}}","parentId":"=015B23OEWATWVPW3ZR3ZDYQVBEYCUAYKUS","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1968,-320],"id":"901d8d38-636c-4d56-9d29-59c08744a2d5","name":"Upload a file PDF attachments","credentials":{"microsoftOneDriveOAuth2Api":{"id":"qDwJ0G7UXuah04zQ","name":"Microsoft Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{$json.openai_messages[1].content}}"},{"content":"={{$json.openai_messages[0].content}}","role":"system"}]},"options":{"maxTokens":1000,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1904,-128],"id":"a06c8dbd-cd34-43a2-bc16-afe5008cb810","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"swAe9qP168vy2VBk","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = ($json.clean_text ?? $json.text ?? '').toString().trim();\n\n// keep messages non-null\nconst system = `You are an exacting invoice parser. \nReturn ONLY valid JSON that matches the provided JSON Schema. \nNever include commentary. Infer missing fields when strongly implied. \nIf a numeric value is absent, use null (not 0). Dates must be ISO8601 UTC (YYYY-MM-DDTHH:mm:ss.sssZ). \nCurrency codes must be ISO 4217.`;\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    source: { type: \"string\", enum: [\"pdf\"] },\n    invoice_number: { type: \"string\", nullable: true },\n    invoice_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    due_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    supplier: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true },\n        email: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\",\"email\"]\n    },\n    customer: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\"]\n    },\n    currency: { type: \"string\", minLength: 3, maxLength: 3, nullable: true },\n    subtotal: { type: \"number\", nullable: true },\n    gst_total: { type: \"number\", nullable: true },\n    total: { type: \"number\", nullable: true },\n    amount_due: { type: \"number\", nullable: true },\n    bank: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        bsb: { type: \"string\", nullable: true },\n        account: { type: \"string\", nullable: true },\n        reference_hint: { type: \"string\", nullable: true }\n      },\n      required: [\"bsb\",\"account\",\"reference_hint\"]\n    },\n    line_items: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: {\n          description: { type: \"string\" },\n          quantity: { type: \"number\", nullable: true },\n          unit_price: { type: \"number\", nullable: true },\n          tax_rate: { type: \"string\", nullable: true },\n          line_total: { type: \"number\", nullable: true }\n        },\n        required: [\"description\"]\n      }\n    },\n    confidence: { type: \"number\" },\n    notes: { type: \"string\" }\n  },\n  required: [\"source\",\"supplier\",\"customer\",\"bank\",\"line_items\",\"confidence\",\"notes\"]\n};\n\n// minimal, deterministic user instruction with the raw text\nconst user = [\n  \"Extract the following fields from this invoice text. Output ONLY JSON and conform to the JSON Schema exactly.\",\n  \"\",\n  \"=== JSON SCHEMA ===\",\n  JSON.stringify(schema),\n  \"\",\n  \"=== INVOICE TEXT ===\",\n  text.slice(0, 45000) // stay within token limits\n].join(\"\\n\");\n\nreturn {\n  json: {\n    openai_messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user }\n    ],\n    json_schema: schema\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-128],"id":"8ae9e7d7-ddac-4e6b-a8e7-9096cab3ef78","name":"AI Prompt Builder"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input shape examples:\n// { message: { role: 'assistant', content: '```json { ... } ```' } }\n// or { role: 'assistant', content: '```json { ... } ```' }\n\nconst msg = $json.message ?? $json;\nconst raw = (msg.content ?? msg.text ?? '').toString();\n\n// 1) Grab the JSON block\nlet block;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fenced) {\n  block = fenced[1];\n} else {\n  const brace = raw.match(/\\{[\\s\\S]*\\}$/);\n  if (brace) block = brace[0];\n}\nif (!block) throw new Error('No JSON found in AI response');\n\n// 2) Tidy common nuisances: thousand separators, non-breaking spaces\nblock = block\n  .replace(/(\\d),(?=\\d{3}\\b)/g, '$1')  // 6,248.00 -> 6248.00\n  .replace(/\\u00a0/g, ' ');\n\n// 3) Parse\nconst obj = JSON.parse(block);\n\n// 4) Normalize a few fields/types safely\nconst numKeys = ['subtotal','gst_total','total','amount_due','confidence'];\nfor (const k of numKeys) {\n  if (obj[k] !== null && obj[k] !== undefined && obj[k] !== '') {\n    obj[k] = Number(obj[k]);\n  }\n}\nif (obj?.supplier?.abn) obj.supplier.abn = obj.supplier.abn.replace(/\\s+/g, '');\nif (obj?.customer?.abn) obj.customer.abn = obj.customer.abn?.toString().replace(/\\s+/g, '');\nif (!obj.source) obj.source = 'pdf';\n\n// 5) Return a single clean object for this item\nreturn { json: obj };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,-128],"id":"3080151f-5852-4f95-9aeb-3776c801f710","name":"Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Runs per item. Return a SINGLE object.\nconst j = $input.item.json || {};\nconst b = $input.item.binary;\n\nconst raw =\n  j.clean_text || j.text || j.content || j.data?.text || '';\n\nconst clean = String(raw)\n  .replace(/\\r/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/\\u00A0/g, ' ')        // nbsp to space\n  .trim()\n  .slice(0, 7900);                 // keep under ~8k for the AI hop\n\nreturn {\n  json: { ...j, clean_text: clean },\n  binary: b,\n  pairedItem: $input.item.pairedItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-128],"id":"c2d0cd37-14d3-4e9c-abe2-127e78bbaa36","name":"Pre-clean PDF text"},{"parameters":{"resource":"table","workbook":{"__rl":true,"value":"015B23OEQ5YEAYVVQ3RFBYSPXSBCRUAV4U","mode":"list","cachedResultName":"Invoice Register.xlsx","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{D39A218A-A3CE-45B6-9741-973D1EC21915}","mode":"list","cachedResultName":"Xero only","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Xero%20only!A1"},"table":{"__rl":true,"value":"{746D4DF8-6EF0-4D58-990D-C1D799873F6E}","mode":"list","cachedResultName":"Table4","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell='Xero%20only'!A1:AA2"},"dataMode":"autoMap","options":{}},"id":"861a5eca-f2e4-4f34-ae46-a3ac0e9718e3","name":"Append to Excel (Graph)","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[3056,-224],"credentials":{"microsoftExcelOAuth2Api":{"id":"oU9W1BbZstgBmEGO","name":"Microsoft Excel account"}},"notes":"Manual mapping to Inv Mgt/Table3 using 20 snake_case fields"},{"parameters":{"assignments":{"assignments":[{"id":"91f87770-f091-4ea7-bb29-48d1da9d7c91","name":"file_name","value":"={{$json.name}}","type":"string"},{"id":"668ef37d-f0e6-4421-bd6e-0672ef0827e6","name":"file_id","value":"={{$json.id}}","type":"string"},{"id":"fec54a16-4c98-4c22-912e-e395d11e5c75","name":"file_url","value":"={{$json.webUrl}}","type":"string"},{"id":"004ba4b4-db10-48ec-9be9-5502a0ed7a27","name":"folder_id","value":"={{$json.parentReference.id}}","type":"string"},{"id":"6291f095-6d7b-4b31-9fea-0917e6d5f448","name":"folder_path","value":"={{$json.parentReference.path}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,-320],"id":"b7e6eb19-8ad0-460d-a7ff-359de471f8e6","name":"Pick Link Fields from PDF"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2480,-224],"id":"497f2b23-0b1c-45b6-a227-87e82a09cfbb","name":"Merge invoice data pdf"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3280,160],"id":"94df2e40-ea96-4ea2-8a40-9a49a734651d","name":"Merge invoice data xero"},{"parameters":{"assignments":{"assignments":[{"id":"a3526cb3-5169-47ad-957a-4da087bfe53c","name":"supplier_name","value":"={{$json.supplier.name}}","type":"string"},{"id":"63c4db2a-c99e-4022-8660-5ac482b47de4","name":"supplier_abn","value":"={{$json.supplier.abn}}","type":"string"},{"id":"e19080e4-eb0f-4677-aa4b-8be967203053","name":"customer_name","value":"={{$json.customer.name}}","type":"string"},{"id":"607775a4-c083-4951-a0b9-232999331706","name":"customer_abn","value":"={{$json.customer.abn}}","type":"string"},{"id":"a84e2c99-293f-4a89-b3f0-f4aa1a7c2a18","name":"bank_bsb","value":"={{$json.bank.bsb}}","type":"string"},{"id":"c641e41f-2a5b-40f1-b141-49e3c7bb8084","name":"bank_account","value":"={{$json.bank.account}}","type":"string"},{"id":"2eb51574-38ba-4e63-a0d5-30fd2d577a92","name":"invoice_date","value":"={{ ($json.invoice_date_iso || '').substring(0,10) }}","type":"string"},{"id":"c1ac8476-9bbe-4b30-8bf8-bdda1b3c01ab","name":"due_date","value":"={{ ($json.due_date_iso || '').substring(0,10) }}","type":"string"},{"id":"bbb2db78-2237-47c6-a304-dc4081a21c0e","name":"line_1_desc","value":"={{$json.line_items[0].description}}","type":"string"},{"id":"36573217-99cb-4728-bd49-3160aa40ad77","name":"line_1_qty","value":"={{$json.line_items[0].quantity}}","type":"string"},{"id":"18364b71-6ec2-4554-b8f6-c9394f871722","name":"line_1_unit_price","value":"={{$json.line_items[0].unit_price}}","type":"string"},{"id":"85f3e8d7-745d-42ea-896a-7445ae5a5fca","name":"message_id","value":"={{ $('Get Recent Messages').item.json.id }}","type":"string"},{"id":"f6776ef3-26ff-4f9c-9705-c62974df4f15","name":"email_subject","value":"={{ $('Get Recent Messages').item.json.subject }}","type":"string"},{"id":"3765fbc1-fd31-4c08-b4f4-f520c02e74c6","name":"email_from_name","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.name }}","type":"string"},{"id":"a8cea665-5bee-487c-98fb-d313536d2ae8","name":"email_from_address","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.address }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,-224],"id":"d3fc8e13-956e-439b-9928-c7d173ad1c8d","name":"flatten + tidy pdf"},{"parameters":{"jsCode":"return items.map(item => {\n  const u = item.json.url_for_http;\n  item.json.debug_url_for_http = u || '⚠️ undefined';\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,160],"id":"509aa745-f0c4-4eda-858c-785cf7a310f6","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4a2b6d3-17f3-4776-9f25-d77032e1bf72","leftValue":"={{ $json.debug_url_for_http }}","rightValue":"⚠️ undefined","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1456,160],"id":"93ceb46c-d05d-4629-998d-5eb0866a6a9f","name":"Filter"}],"connections":{"Schedule":{"main":[[{"node":"Get Recent Messages","type":"main","index":0}]]},"Get Recent Messages":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Precompute":{"main":[[{"node":"Stamp Context","type":"main","index":0}]]},"Has Attachments?":{"main":[[{"node":"List Attachments","type":"main","index":0}],[{"node":"Compute Xero Link","type":"main","index":0}]]},"List Attachments":{"main":[[{"node":"Only PDFs","type":"main","index":0}]]},"Only PDFs":{"main":[[{"node":"Email Meta (attach)1","type":"main","index":0}]]},"Has Xero Link?":{"main":[[{"node":"Prepare Xero URL","type":"main","index":0}],[{"node":"No Xero Link (log)","type":"main","index":0}]]},"Prepare Xero URL":{"main":[[{"node":"Normalize PDF Link","type":"main","index":0}]]},"Compute Xero Link":{"main":[[{"node":"Has Xero Link?","type":"main","index":0}]]},"Download PDF (Attachment)":{"main":[[{"node":"Read PDF (attach)","type":"main","index":0}]]},"Read PDF (attach)":{"main":[[{"node":"Upload a file PDF attachments","type":"main","index":0},{"node":"Pre-clean PDF text","type":"main","index":0}]]},"Stamp Context":{"main":[[{"node":"Has Attachments?","type":"main","index":0}]]},"Email Meta (attach)1":{"main":[[{"node":"Download PDF (Attachment)","type":"main","index":0}]]},"Normalize PDF Link":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Read PDF (xero)","type":"main","index":0}]]},"Read PDF (xero)":{"main":[[{"node":"Pre-clean PDF text Xero","type":"main","index":0},{"node":"Upload a file","type":"main","index":0}]]},"Deduplicate":{"main":[[{"node":"Precompute","type":"main","index":0}]]},"Pre-clean PDF text Xero":{"main":[[{"node":"AI Prompt Builder1","type":"main","index":0}]]},"AI Prompt Builder1":{"main":[[{"node":"OpenAI Chat Model1","type":"main","index":0}]]},"OpenAI Chat Model1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge invoice data xero","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Pick Link Fields","type":"main","index":0}]]},"Pick Link Fields":{"main":[[{"node":"Merge invoice data xero","type":"main","index":1}]]},"flatten + tidy":{"main":[[{"node":"Append to Excel (Graph)1","type":"main","index":0}]]},"Upload a file PDF attachments":{"main":[[{"node":"Pick Link Fields from PDF","type":"main","index":0}]]},"OpenAI Chat Model":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Prompt Builder":{"main":[[{"node":"OpenAI Chat Model","type":"main","index":0}]]},"Pre-clean PDF text":{"main":[[{"node":"AI Prompt Builder","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge invoice data pdf","type":"main","index":1}]]},"Pick Link Fields from PDF":{"main":[[{"node":"Merge invoice data pdf","type":"main","index":0}]]},"Merge invoice data pdf":{"main":[[{"node":"flatten + tidy pdf","type":"main","index":0}]]},"Merge invoice data xero":{"main":[[{"node":"flatten + tidy","type":"main","index":0}]]},"flatten + tidy pdf":{"main":[[{"node":"Append to Excel (Graph)","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9116a8ea-c54f-4fcb-b5ad-98368348e34c","triggerCount":1,"tags":[{"createdAt":"2025-08-02T11:57:55.593Z","updatedAt":"2025-08-02T11:57:55.593Z","id":"9q2hEZiA0ujceLQl","name":"PROD"}],"shared":[{"createdAt":"2025-09-06T11:01:01.080Z","updatedAt":"2025-09-06T11:01:01.080Z","role":"workflow:owner","workflowId":"wzR6HlmIjTuvfyfj","projectId":"OOfqf1PcdXc4mAMQ","project":{"createdAt":"2025-08-02T11:30:32.205Z","updatedAt":"2025-08-02T11:32:05.229Z","id":"OOfqf1PcdXc4mAMQ","name":"SSS Sure <sureshotsolutions09@gmail.com>","type":"personal","icon":null,"description":null}}]}]