docs/n8n-workflows/exports/wf-ZZcktTuP2fFegZ26.json
[{"createdAt":"2025-09-06T12:02:42.058Z","updatedAt":"2025-09-09T11:23:17.000Z","id":"ZZcktTuP2fFegZ26","name":"Zara Invoice Management V2.0 taxcellent","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"id":"b59218b9-704f-4d39-aca8-23f0fb8291bc","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1008,64]},{"parameters":{"operation":"getAll","returnAll":true,"output":"fields","fields":["id","subject","from","sender","body","hasAttachments","receivedDateTime","internetMessageId"],"filtersUI":{"values":{"filters":{"custom":"=(receivedDateTime ge {{ new Date(Date.now() - 6 * 60 * 60 * 1000).toISOString() }})\nand from/emailAddress/address eq 'admin@taxcellent.com.au'\nand hasAttachments eq true\nand contains(subject,'Payment Reminder')"}}},"options":{"downloadAttachments":false}},"id":"c31ee137-67c4-4455-802a-4dec7e8c3016","name":"Get Recent Messages","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-784,64],"webhookId":"849b5934-ab71-4cac-8776-b9c7cc3bc8dc","credentials":{"microsoftOutlookOAuth2Api":{"id":"ekJmqpa2V8RnjERW","name":"Microsoft Outlook account 2"}}},{"parameters":{"assignments":{"assignments":[{"name":"message_id","value":"={{$json.id}}","type":"string","id":"a735bafe-7f86-4757-bdc0-42c42825cae7"},{"name":"email_subject","value":"={{ $json.subject || '' }}","type":"string","id":"9b228388-bfd1-4004-bd14-998fc902a02d"},{"name":"email_from","value":"={{ $json.from?.emailAddress?.address || $json.sender?.emailAddress?.address || '' }}","type":"string","id":"2d750707-71f2-4524-9374-3ab35d08d5f7"},{"name":"email_received","value":"={{ new Date($json.receivedDateTime || Date.now()).toLocaleString('en-AU',{ timeZone:'Australia/Sydney' }) }}","type":"string","id":"14bc88bf-4c7f-42a5-b464-8a89431fb13e"},{"name":"has_attachments","value":"={{ $json.hasAttachments === true }}","type":"boolean","id":"b27ed06e-db85-4800-aa3a-dd211791e3a0"},{"name":"safe_subject","value":"={{ ($json.subject || 'Email').replace(/[^a-zA-Z0-9\\-]/g,'-').substring(0,50) }}","type":"string","id":"2bbd0302-4d4e-47bf-9809-922ab4f3c957"},{"name":"xero_link","value":"={{ '' }}","type":"string","id":"19cfe728-02cb-481b-8651-269212072bd4"}]},"includeOtherFields":true,"options":{}},"id":"d31e1a17-507b-48a2-9de8-b3f149308db4","name":"Precompute","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,64]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Build one clean URL for the HTTP node: url_for_http\nconst j = $input.item.json;\nconst html = String(j.body?.content || '').replace(/&amp;/g, '&');\n\nlet url =\n  // Prefer the explicit DownloadPdf link in the email\n  (html.match(/href\\s*=\\s*\"(https?:\\/\\/[^\"]+\\/Invoice\\/DownloadPdf\\/[a-f0-9-]+[^\"]*)\"/i)?.[1]) ||\n  (html.match(/href\\s*=\\s*'(https?:\\/\\/[^']+\\/Invoice\\/DownloadPdf\\/[a-f0-9-]+[^']*)'/i)?.[1]) ||\n  // Fallbacks from parsed fields\n  j.pdf_url_download || j.pdf_url_clean || j.xero_link || '';\n\n// normalize + strip nasties\nurl = String(url)\n  .replace(/&amp;/g, '&')\n  .replace(/[\\u0000-\\u001F\\u007F]/g, '')    // control chars\n  .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')    // zero-width\n  .replace(/\\s+/g, ' ')                     // collapse spaces\n  .trim()\n  .replace(/^http:\\/\\//i, 'https://')\n  .split('#')[0];\n\nconst url_for_http = encodeURI(url);\n\n// Validate lightly\nif (!/^https?:\\/\\/[A-Za-z0-9.-]+\\/[^\\s]*$/i.test(url_for_http)) {\n  return { json: { ...j, _fatal: 'bad_url', raw_url: url, url_for_http } };\n}\n\nreturn { json: { ...j, url_for_http } };"},"id":"d1f3c6ee-ef3f-42ca-a3af-bd96ecd5484a","name":"Compute Xero Link","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{$json.has_attachments}}","operator":{"type":"boolean","operation":"true"},"id":"02f7e640-85a0-4684-971c-1ca404dd6d79"}],"combinator":"and"},"options":{}},"id":"6cec163a-37f7-43a2-a1a3-26a1ac5b0001","name":"Has Attachments?","type":"n8n-nodes-base.if","typeVersion":2,"position":[112,64]},{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"leftValue":"={{$json.xero_link?.length}}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"d6985566-a97e-47f7-bbe7-a20250a05e45","name":"Has Xero Link?","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,256]},{"parameters":{"assignments":{"assignments":[{"name":"log","value":"No Xero link detected","type":"string"},{"name":"subject","value":"={{$json.subject}}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"a431425d-436d-4758-bd41-c1d226f74f34","name":"No Xero Link (log)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,352]},{"parameters":{"resource":"messageAttachment","operation":"getAll","messageId":{"__rl":true,"value":"={{ $('Get Recent Messages').item.json.id }}","mode":"id"},"options":{}},"id":"6766ae45-d958-4329-8f24-0125737d08ec","name":"List Attachments","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[336,-224],"webhookId":"d5fb5ef4-c224-4e0c-9f38-383e4266ce61","credentials":{"microsoftOutlookOAuth2Api":{"id":"ekJmqpa2V8RnjERW","name":"Microsoft Outlook account 2"}}},{"parameters":{"jsCode":"const keep=[]; for (const i of $input.all()) { const a=i.json||{}; const ct=(a.contentType||'').toLowerCase(); const nm=(a.name||'').toLowerCase(); if (ct==='application/pdf' || nm.endsWith('.pdf')) keep.push(i); } return keep;"},"id":"33a30ab5-1015-4d1d-90e2-857343efcdc0","name":"Only PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-224]},{"parameters":{"resource":"messageAttachment","operation":"download","messageId":{"__rl":true,"value":"={{ $('Get Recent Messages').item.json.id }}","mode":"id"},"attachmentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"id":"e6c33b81-1a14-4a4e-bbbd-2d20ef0fc179","name":"Download PDF (Attachment)","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1008,-224],"webhookId":"fa86c2e1-252b-4dba-9c64-3fa4c58bf443","credentials":{"microsoftOutlookOAuth2Api":{"id":"ekJmqpa2V8RnjERW","name":"Microsoft Outlook account 2"}}},{"parameters":{"assignments":{"assignments":[{"name":"pdf_url_clean","value":"={{ $json.xero_link }}","type":"string"},{"name":"pdf_url_download","value":"={{ $json.xero_link ? ($json.xero_link + ($json.xero_link.includes('?')?'&':'?') + 'download=1') : '' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"482549e1-dc04-4604-97e8-4b372e7594c4","name":"Prepare Xero URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,160]},{"parameters":{},"id":"8c58f8b0-8df8-4f14-995d-f163a4c5993e","name":"Read PDF (attach)","type":"n8n-nodes-base.readPDF","typeVersion":1,"position":[1232,-224]},{"parameters":{"assignments":{"assignments":[{"id":"9c3b79aa-ee23-437f-868f-e761d36789ad","name":"ctx_message_id","value":"={{$json.id}}","type":"string"},{"id":"31c52311-b36e-4486-9c0b-fae0985b9ece","name":"ctx_subject","value":"={{$json.subject || ''}}","type":"string"},{"id":"560399c7-99cc-4e64-9d5e-caccdcf5ea39","name":"ctx_from_email","value":"={{$json.from?.emailAddress?.address || $json.sender?.emailAddress?.address || ''}}","type":"string"},{"id":"aa7cc060-0b4a-4bfb-ac85-eed392211100","name":"ctx_received_sydney","value":"={{ ($json.receivedDateTime ? new Date($json.receivedDateTime) : new Date()).toLocaleString('en-AU',{ timeZone:'Australia/Sydney' }) }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,64],"id":"e2dc348c-d749-4207-82ff-38c8fe8d485d","name":"Stamp Context"},{"parameters":{"jsCode":"const out = [];\nconst src = 'attachment';\n\nfor (const i of $input.all()) {\n  const parentIdx = i.pairedItem?.item;\n  const stampArr = $items('Stamp Context', 0) || [];\n  const ctx = (Number.isInteger(parentIdx) && stampArr[parentIdx]?.json) ? stampArr[parentIdx].json : {};\n\n  out.push({\n    json: {\n      ...(i.json || {}),\n      message_id: ctx.ctx_message_id || i.json?.message_id || '',\n      email_subject: ctx.ctx_subject || '',\n      from_email: (ctx.ctx_from_email || '').trim(),\n      received_sydney: ctx.ctx_received_sydney || '',\n      source: src,\n    },\n    // keep binary intact for downstream (Upload + Read PDF)\n    binary: i.binary,\n    pairedItem: i.pairedItem,\n  });\n}\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-224],"id":"e4562633-8115-4cb8-b54e-96ed8ae29fec","name":"Email Meta (attach)1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const j = $input.item.json;\n\n// start from the best available source\nlet url = j.pdf_url_download || j.pdf_url_clean || j.xero_link;\n\n// if we only have the generic view link, force a PDF download param\nif (url && !/\\/Invoice\\/DownloadPdf\\//i.test(url)) {\n  url = url.includes('download=1') ? url : url + (url.includes('?') ? '&' : '?') + 'download=1';\n}\n\nreturn { json: { ...j, pdf_url: url || null } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,160],"id":"d2398bd3-9fda-4899-9278-96033e01319d","name":"Normalize PDF Link"},{"parameters":{"url":"={{\n(() => {\n  const u =\n    $json.xero_pdf_url ||\n    $json[\"@microsoft.graph.downloadUrl\"] ||\n    $json.webUrl ||\n    $json.link;\n\n  if (!u || typeof u !== 'string' || !/^https?:\\/\\//i.test(u.trim())) {\n    throw new Error('Missing/invalid URL for this item');\n  }\n  return u.trim();\n})()\n}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/pdf"},{"name":"User-Agent","value":"n8n"},{"name":"Accept-Language","value":"en-AU,en;q=0.9"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,160],"id":"05ac6b47-6491-4e20-8244-c8d6b39d3e02","name":"HTTP Request"},{"parameters":{},"id":"028b16f8-c221-4b86-a8fb-328452854679","name":"Read PDF (xero)","type":"n8n-nodes-base.readPDF","typeVersion":1,"position":[1968,160]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Runs per item. Return a SINGLE object.\nconst j = $input.item.json || {};\nconst b = $input.item.binary;\n\nconst raw =\n  j.clean_text || j.text || j.content || j.data?.text || '';\n\nconst clean = String(raw)\n  .replace(/\\r/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/\\u00A0/g, ' ')        // nbsp to space\n  .trim()\n  .slice(0, 7900);                 // keep under ~8k for the AI hop\n\nreturn {\n  json: { ...j, clean_text: clean },\n  binary: b,\n  pairedItem: $input.item.pairedItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,64],"id":"84e36b6f-6dcd-462d-9ec8-b1cf64f26b7a","name":"Pre-clean PDF text Xero"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{$json.openai_messages[1].content}}"},{"content":"={{$json.openai_messages[0].content}}","role":"system"}]},"options":{"maxTokens":1000,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2704,64],"id":"42a7e270-b994-4af9-8f1f-6ab667e6ff18","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"swAe9qP168vy2VBk","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = ($json.clean_text ?? $json.text ?? '').toString().trim();\n\n// keep messages non-null\nconst system = `You are an exacting invoice parser. \nReturn ONLY valid JSON that matches the provided JSON Schema. \nNever include commentary. Infer missing fields when strongly implied. \nIf a numeric value is absent, use null (not 0). Dates must be ISO8601 UTC (YYYY-MM-DDTHH:mm:ss.sssZ). \nCurrency codes must be ISO 4217.`;\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    source: { type: \"string\", enum: [\"pdf\"] },\n    invoice_number: { type: \"string\", nullable: true },\n    invoice_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    due_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    supplier: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true },\n        email: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\",\"email\"]\n    },\n    customer: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\"]\n    },\n    currency: { type: \"string\", minLength: 3, maxLength: 3, nullable: true },\n    subtotal: { type: \"number\", nullable: true },\n    gst_total: { type: \"number\", nullable: true },\n    total: { type: \"number\", nullable: true },\n    amount_due: { type: \"number\", nullable: true },\n    bank: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        bsb: { type: \"string\", nullable: true },\n        account: { type: \"string\", nullable: true },\n        reference_hint: { type: \"string\", nullable: true }\n      },\n      required: [\"bsb\",\"account\",\"reference_hint\"]\n    },\n    line_items: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: {\n          description: { type: \"string\" },\n          quantity: { type: \"number\", nullable: true },\n          unit_price: { type: \"number\", nullable: true },\n          tax_rate: { type: \"string\", nullable: true },\n          line_total: { type: \"number\", nullable: true }\n        },\n        required: [\"description\"]\n      }\n    },\n    confidence: { type: \"number\" },\n    notes: { type: \"string\" }\n  },\n  required: [\"source\",\"supplier\",\"customer\",\"bank\",\"line_items\",\"confidence\",\"notes\"]\n};\n\n// minimal, deterministic user instruction with the raw text\nconst user = [\n  \"Extract the following fields from this invoice text. Output ONLY JSON and conform to the JSON Schema exactly.\",\n  \"\",\n  \"=== JSON SCHEMA ===\",\n  JSON.stringify(schema),\n  \"\",\n  \"=== INVOICE TEXT ===\",\n  text.slice(0, 45000) // stay within token limits\n].join(\"\\n\");\n\nreturn {\n  json: {\n    openai_messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user }\n    ],\n    json_schema: schema\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,64],"id":"8f35a792-3bdf-452f-b483-cb34e4825a7a","name":"AI Prompt Builder1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input shape examples:\n// { message: { role: 'assistant', content: '```json { ... } ```' } }\n// or { role: 'assistant', content: '```json { ... } ```' }\n\nconst msg = $json.message ?? $json;\nconst raw = (msg.content ?? msg.text ?? '').toString();\n\n// 1) Grab the JSON block\nlet block;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fenced) {\n  block = fenced[1];\n} else {\n  const brace = raw.match(/\\{[\\s\\S]*\\}$/);\n  if (brace) block = brace[0];\n}\nif (!block) throw new Error('No JSON found in AI response');\n\n// 2) Tidy common nuisances: thousand separators, non-breaking spaces\nblock = block\n  .replace(/(\\d),(?=\\d{3}\\b)/g, '$1')  // 6,248.00 -> 6248.00\n  .replace(/\\u00a0/g, ' ');\n\n// 3) Parse\nconst obj = JSON.parse(block);\n\n// 4) Normalize a few fields/types safely\nconst numKeys = ['subtotal','gst_total','total','amount_due','confidence'];\nfor (const k of numKeys) {\n  if (obj[k] !== null && obj[k] !== undefined && obj[k] !== '') {\n    obj[k] = Number(obj[k]);\n  }\n}\nif (obj?.supplier?.abn) obj.supplier.abn = obj.supplier.abn.replace(/\\s+/g, '');\nif (obj?.customer?.abn) obj.customer.abn = obj.customer.abn?.toString().replace(/\\s+/g, '');\nif (!obj.source) obj.source = 'pdf';\n\n// 5) Return a single clean object for this item\nreturn { json: obj };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,64],"id":"b4299af2-9cc1-43b1-a8f7-09d8857fb878","name":"Code1"},{"parameters":{"fileName":"={{$binary.data.fileName || $json.safe_subject + '.pdf'}}","parentId":"=015B23OEWATWVPW3ZR3ZDYQVBEYCUAYKUS","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[2768,256],"id":"dd5ece38-a626-44fd-9e5e-c6a39f7b1db4","name":"Upload a file","credentials":{"microsoftOneDriveOAuth2Api":{"id":"qDwJ0G7UXuah04zQ","name":"Microsoft Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91f87770-f091-4ea7-bb29-48d1da9d7c91","name":"file_name","value":"={{$json.name}}","type":"string"},{"id":"668ef37d-f0e6-4421-bd6e-0672ef0827e6","name":"file_id","value":"={{$json.id}}","type":"string"},{"id":"fec54a16-4c98-4c22-912e-e395d11e5c75","name":"file_url","value":"={{$json.webUrl}}","type":"string"},{"id":"004ba4b4-db10-48ec-9be9-5502a0ed7a27","name":"folder_id","value":"={{$json.parentReference.id}}","type":"string"},{"id":"6291f095-6d7b-4b31-9fea-0917e6d5f448","name":"folder_path","value":"={{$json.parentReference.path}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,256],"id":"4a1cef2f-d432-430e-975a-c0c13e2ab7d2","name":"Pick Link Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a3526cb3-5169-47ad-957a-4da087bfe53c","name":"supplier_name","value":"={{$json.supplier.name}}","type":"string"},{"id":"63c4db2a-c99e-4022-8660-5ac482b47de4","name":"supplier_abn","value":"={{$json.supplier.abn}}","type":"string"},{"id":"e19080e4-eb0f-4677-aa4b-8be967203053","name":"customer_name","value":"={{$json.customer.name}}","type":"string"},{"id":"607775a4-c083-4951-a0b9-232999331706","name":"customer_abn","value":"={{$json.customer.abn}}","type":"string"},{"id":"a84e2c99-293f-4a89-b3f0-f4aa1a7c2a18","name":"bank_bsb","value":"={{$json.bank.bsb}}","type":"string"},{"id":"c641e41f-2a5b-40f1-b141-49e3c7bb8084","name":"bank_account","value":"={{$json.bank.account}}","type":"string"},{"id":"2eb51574-38ba-4e63-a0d5-30fd2d577a92","name":"invoice_date","value":"={{ ($json.invoice_date_iso || '').substring(0,10) }}","type":"string"},{"id":"c1ac8476-9bbe-4b30-8bf8-bdda1b3c01ab","name":"due_date","value":"={{ ($json.due_date_iso || '').substring(0,10) }}","type":"string"},{"id":"bbb2db78-2237-47c6-a304-dc4081a21c0e","name":"line_1_desc","value":"={{$json.line_items[0].description}}","type":"string"},{"id":"36573217-99cb-4728-bd49-3160aa40ad77","name":"line_1_qty","value":"={{$json.line_items[0].quantity}}","type":"string"},{"id":"18364b71-6ec2-4554-b8f6-c9394f871722","name":"line_1_unit_price","value":"={{$json.line_items[0].unit_price}}","type":"string"},{"id":"85f3e8d7-745d-42ea-896a-7445ae5a5fca","name":"message_id","value":"={{ $('Get Recent Messages').item.json.id }}","type":"string"},{"id":"f6776ef3-26ff-4f9c-9705-c62974df4f15","name":"email_subject","value":"={{ $('Get Recent Messages').item.json.subject }}","type":"string"},{"id":"99874a8f-da1a-4b91-a064-41100bba5670","name":"email_from_name","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.name }}","type":"string"},{"id":"977c323e-4748-4f34-b83b-8005aa469945","name":"email_from_address","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.address }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3504,160],"id":"e1c0b738-012b-4748-9bec-5cf7aa2025fd","name":"flatten + tidy"},{"parameters":{"resource":"table","workbook":{"__rl":true,"value":"015B23OEQ5YEAYVVQ3RFBYSPXSBCRUAV4U","mode":"list","cachedResultName":"Invoice Register.xlsx","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{D39A218A-A3CE-45B6-9741-973D1EC21915}","mode":"list","cachedResultName":"Xero only","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Xero%20only!A1"},"table":{"__rl":true,"value":"{746D4DF8-6EF0-4D58-990D-C1D799873F6E}","mode":"list","cachedResultName":"Table4","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell='Xero%20only'!A1:AA2"},"dataMode":"autoMap","options":{}},"id":"0b594894-165a-4b78-a56e-50b4cc423f00","name":"Append to Excel (Graph)1","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[3728,160],"credentials":{"microsoftExcelOAuth2Api":{"id":"oU9W1BbZstgBmEGO","name":"Microsoft Excel account"}},"notes":"Manual mapping to Inv Mgt/Table3 using 20 snake_case fields"},{"parameters":{"fileName":"={{$binary.data.fileName || $json.safe_subject + '.pdf'}}","parentId":"=015B23OEWATWVPW3ZR3ZDYQVBEYCUAYKUS","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1968,-320],"id":"02115e26-9b2f-4643-a55c-63b5181b0481","name":"Upload a file PDF attachments","credentials":{"microsoftOneDriveOAuth2Api":{"id":"qDwJ0G7UXuah04zQ","name":"Microsoft Drive account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{$json.openai_messages[1].content}}"},{"content":"={{$json.openai_messages[0].content}}","role":"system"}]},"options":{"maxTokens":1000,"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1904,-128],"id":"813c0a38-0f11-4174-a16d-4ac84cb484dc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"swAe9qP168vy2VBk","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const text = ($json.clean_text ?? $json.text ?? '').toString().trim();\n\n// keep messages non-null\nconst system = `You are an exacting invoice parser. \nReturn ONLY valid JSON that matches the provided JSON Schema. \nNever include commentary. Infer missing fields when strongly implied. \nIf a numeric value is absent, use null (not 0). Dates must be ISO8601 UTC (YYYY-MM-DDTHH:mm:ss.sssZ). \nCurrency codes must be ISO 4217.`;\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  properties: {\n    source: { type: \"string\", enum: [\"pdf\"] },\n    invoice_number: { type: \"string\", nullable: true },\n    invoice_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    due_date_iso: { type: \"string\", format: \"date-time\", nullable: true },\n    supplier: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true },\n        email: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\",\"email\"]\n    },\n    customer: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        name: { type: \"string\", nullable: true },\n        abn: { type: \"string\", nullable: true }\n      },\n      required: [\"name\",\"abn\"]\n    },\n    currency: { type: \"string\", minLength: 3, maxLength: 3, nullable: true },\n    subtotal: { type: \"number\", nullable: true },\n    gst_total: { type: \"number\", nullable: true },\n    total: { type: \"number\", nullable: true },\n    amount_due: { type: \"number\", nullable: true },\n    bank: {\n      type: \"object\",\n      additionalProperties: false,\n      properties: {\n        bsb: { type: \"string\", nullable: true },\n        account: { type: \"string\", nullable: true },\n        reference_hint: { type: \"string\", nullable: true }\n      },\n      required: [\"bsb\",\"account\",\"reference_hint\"]\n    },\n    line_items: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        properties: {\n          description: { type: \"string\" },\n          quantity: { type: \"number\", nullable: true },\n          unit_price: { type: \"number\", nullable: true },\n          tax_rate: { type: \"string\", nullable: true },\n          line_total: { type: \"number\", nullable: true }\n        },\n        required: [\"description\"]\n      }\n    },\n    confidence: { type: \"number\" },\n    notes: { type: \"string\" }\n  },\n  required: [\"source\",\"supplier\",\"customer\",\"bank\",\"line_items\",\"confidence\",\"notes\"]\n};\n\n// minimal, deterministic user instruction with the raw text\nconst user = [\n  \"Extract the following fields from this invoice text. Output ONLY JSON and conform to the JSON Schema exactly.\",\n  \"\",\n  \"=== JSON SCHEMA ===\",\n  JSON.stringify(schema),\n  \"\",\n  \"=== INVOICE TEXT ===\",\n  text.slice(0, 45000) // stay within token limits\n].join(\"\\n\");\n\nreturn {\n  json: {\n    openai_messages: [\n      { role: \"system\", content: system },\n      { role: \"user\", content: user }\n    ],\n    json_schema: schema\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,-128],"id":"40330455-6e6b-4687-8a39-7409a6602098","name":"AI Prompt Builder"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Input shape examples:\n// { message: { role: 'assistant', content: '```json { ... } ```' } }\n// or { role: 'assistant', content: '```json { ... } ```' }\n\nconst msg = $json.message ?? $json;\nconst raw = (msg.content ?? msg.text ?? '').toString();\n\n// 1) Grab the JSON block\nlet block;\nconst fenced = raw.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fenced) {\n  block = fenced[1];\n} else {\n  const brace = raw.match(/\\{[\\s\\S]*\\}$/);\n  if (brace) block = brace[0];\n}\nif (!block) throw new Error('No JSON found in AI response');\n\n// 2) Tidy common nuisances: thousand separators, non-breaking spaces\nblock = block\n  .replace(/(\\d),(?=\\d{3}\\b)/g, '$1')  // 6,248.00 -> 6248.00\n  .replace(/\\u00a0/g, ' ');\n\n// 3) Parse\nconst obj = JSON.parse(block);\n\n// 4) Normalize a few fields/types safely\nconst numKeys = ['subtotal','gst_total','total','amount_due','confidence'];\nfor (const k of numKeys) {\n  if (obj[k] !== null && obj[k] !== undefined && obj[k] !== '') {\n    obj[k] = Number(obj[k]);\n  }\n}\nif (obj?.supplier?.abn) obj.supplier.abn = obj.supplier.abn.replace(/\\s+/g, '');\nif (obj?.customer?.abn) obj.customer.abn = obj.customer.abn?.toString().replace(/\\s+/g, '');\nif (!obj.source) obj.source = 'pdf';\n\n// 5) Return a single clean object for this item\nreturn { json: obj };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,-128],"id":"d4f799b9-5ee1-4b30-b6a2-bceef26364b1","name":"Code"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Runs per item. Return a SINGLE object.\nconst j = $input.item.json || {};\nconst b = $input.item.binary;\n\nconst raw =\n  j.clean_text || j.text || j.content || j.data?.text || '';\n\nconst clean = String(raw)\n  .replace(/\\r/g, ' ')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .replace(/\\u00A0/g, ' ')        // nbsp to space\n  .trim()\n  .slice(0, 7900);                 // keep under ~8k for the AI hop\n\nreturn {\n  json: { ...j, clean_text: clean },\n  binary: b,\n  pairedItem: $input.item.pairedItem\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-128],"id":"b56b9598-623f-4d44-abc2-c8a51b1626f2","name":"Pre-clean PDF text"},{"parameters":{"resource":"table","workbook":{"__rl":true,"value":"015B23OEQ5YEAYVVQ3RFBYSPXSBCRUAV4U","mode":"list","cachedResultName":"Invoice Register.xlsx","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{206912B3-3BE3-40E4-BCE4-B4566B762948}","mode":"list","cachedResultName":"Taxcellent","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Taxcellent!A1"},"table":{"__rl":true,"value":"{31E5439E-D2BF-47F2-AD09-38B1BD276006}","mode":"list","cachedResultName":"Table5","cachedResultUrl":"https://rudraprojects-my.sharepoint.com/personal/satyagala_rudraprojects_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7B8A01C11D-1BD6-4389-893E-F208A3405794%7D&file=Invoice%20Register.xlsx.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Taxcellent!A1:AE2"},"dataMode":"autoMap","options":{}},"id":"33d55083-18e1-430a-83c4-7a74cc5cfb4f","name":"Append to Excel (Graph)","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[3680,-224],"credentials":{"microsoftExcelOAuth2Api":{"id":"oU9W1BbZstgBmEGO","name":"Microsoft Excel account"}},"notes":"Manual mapping to Inv Mgt/Table3 using 20 snake_case fields"},{"parameters":{"assignments":{"assignments":[{"id":"91f87770-f091-4ea7-bb29-48d1da9d7c91","name":"file_name","value":"={{$json.name}}","type":"string"},{"id":"668ef37d-f0e6-4421-bd6e-0672ef0827e6","name":"file_id","value":"={{$json.id}}","type":"string"},{"id":"fec54a16-4c98-4c22-912e-e395d11e5c75","name":"file_url","value":"={{$json.webUrl}}","type":"string"},{"id":"004ba4b4-db10-48ec-9be9-5502a0ed7a27","name":"folder_id","value":"={{$json.parentReference.id}}","type":"string"},{"id":"6291f095-6d7b-4b31-9fea-0917e6d5f448","name":"folder_path","value":"={{$json.parentReference.path}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,-320],"id":"7aa81952-9505-4fa7-9aff-f93cb735ddb3","name":"Pick Link Fields from PDF"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2688,-224],"id":"faad1e01-be3b-4309-b04b-fe46f69ba5bc","name":"Merge invoice data pdf"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3280,160],"id":"e2b6520e-45df-4793-b7d7-53a5ac530f61","name":"Merge invoice data xero"},{"parameters":{"assignments":{"assignments":[{"id":"a3526cb3-5169-47ad-957a-4da087bfe53c","name":"supplier_name","value":"={{$json.supplier.name}}","type":"string"},{"id":"63c4db2a-c99e-4022-8660-5ac482b47de4","name":"supplier_abn","value":"={{$json.supplier.abn}}","type":"string"},{"id":"e19080e4-eb0f-4677-aa4b-8be967203053","name":"customer_name","value":"={{$json.customer.name}}","type":"string"},{"id":"607775a4-c083-4951-a0b9-232999331706","name":"customer_abn","value":"={{$json.customer.abn}}","type":"string"},{"id":"a84e2c99-293f-4a89-b3f0-f4aa1a7c2a18","name":"bank_bsb","value":"={{$json.bank.bsb}}","type":"string"},{"id":"c641e41f-2a5b-40f1-b141-49e3c7bb8084","name":"bank_account","value":"={{$json.bank.account}}","type":"string"},{"id":"2eb51574-38ba-4e63-a0d5-30fd2d577a92","name":"invoice_date","value":"={{ ($json.invoice_date_iso || '').substring(0,10) }}","type":"string"},{"id":"c1ac8476-9bbe-4b30-8bf8-bdda1b3c01ab","name":"due_date","value":"={{ ($json.due_date_iso || '').substring(0,10) }}","type":"string"},{"id":"bbb2db78-2237-47c6-a304-dc4081a21c0e","name":"line_1_desc","value":"={{$json.line_items[0].description}}","type":"string"},{"id":"36573217-99cb-4728-bd49-3160aa40ad77","name":"line_1_qty","value":"={{$json.line_items[0].quantity}}","type":"string"},{"id":"18364b71-6ec2-4554-b8f6-c9394f871722","name":"line_1_unit_price","value":"={{$json.line_items[0].unit_price}}","type":"string"},{"id":"85f3e8d7-745d-42ea-896a-7445ae5a5fca","name":"message_id","value":"={{ $('Get Recent Messages').item.json.id }}","type":"string"},{"id":"f6776ef3-26ff-4f9c-9705-c62974df4f15","name":"email_subject","value":"={{ $('Get Recent Messages').item.json.subject }}","type":"string"},{"id":"3765fbc1-fd31-4c08-b4f4-f520c02e74c6","name":"email_from_name","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.name }}","type":"string"},{"id":"a8cea665-5bee-487c-98fb-d313536d2ae8","name":"email_from_address","value":"={{ $('Get Recent Messages').item.json.sender.emailAddress.address }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3184,-224],"id":"35d7ff82-5972-4cbf-bc9a-c2acb429c347","name":"flatten + tidy pdf"},{"parameters":{"jsCode":"return items.map(item => {\n  const u = item.json.url_for_http;\n  item.json.debug_url_for_http = u || '⚠️ undefined';\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,160],"id":"962491b2-5eb3-40cb-9367-4b82905432b9","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4a2b6d3-17f3-4776-9f25-d77032e1bf72","leftValue":"={{ $json.debug_url_for_http }}","rightValue":"⚠️ undefined","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1456,160],"id":"97cd6a24-5e0d-4bc9-ba79-c55cd7209ab9","name":"Filter"},{"parameters":{"jsCode":"const out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json || {};\n\n  const textBlob = [\n    j.email_subject, j.file_name, j.notes, j.clean_text, j.text\n  ].filter(Boolean).join(' ').toLowerCase();\n\n  const looksLikeATO =\n    /\\bato\\b|\\baustralian taxation office\\b|activity statement|tax debt|payment plan|payment slip|overdue\\b/.test(textBlob);\n\n  const looksLikeASIC =\n    /\\basic\\b|\\baustralian securities\\s*&\\s*investments commission\\b|annual review/.test(textBlob);\n\n  const clone = { ...j };\n\n  if (looksLikeATO || looksLikeASIC) {\n    const issuer = looksLikeATO\n      ? 'Australian Taxation Office'\n      : 'Australian Securities & Investments Commission';\n\n    const priorCustomerName = clone.customer?.name || null;\n    const priorSupplierName = clone.supplier?.name || null;\n    const derivedCustomerName = priorCustomerName || priorSupplierName || null;\n\n    clone.supplier = {\n      ...(clone.supplier || {}),\n      name: issuer,\n      abn: clone.supplier?.abn ?? null,\n      email: clone.supplier?.email ?? null,\n    };\n\n    clone.customer = {\n      ...(clone.customer || {}),\n      name: derivedCustomerName,\n      abn: clone.customer?.abn ?? null,\n    };\n\n    // Bubble up reference\n    const refRaw = clone.payment_reference || clone.bank?.reference_hint || null;\n    clone.payment_reference = refRaw || null;\n\n    // NEW ➜ if invoice_number is missing, use the reference number\n    if (!clone.invoice_number && refRaw) {\n      // Keep invoice_number tidy: remove spaces but keep other chars\n      const normalizedRef = String(refRaw).replace(/\\s+/g, '');\n      clone.invoice_number = normalizedRef;\n    }\n  } else {\n    // Non-ATO/ASIC: expose payment_reference if present\n    const refRaw = clone.payment_reference || clone.bank?.reference_hint || null;\n    clone.payment_reference = refRaw || null;\n\n    // NEW ➜ same rule for general docs: only fill if invoice_number is empty\n    if (!clone.invoice_number && refRaw) {\n      const normalizedRef = String(refRaw).replace(/\\s+/g, '');\n      clone.invoice_number = normalizedRef;\n    }\n  }\n\n  out.push({ json: clone, binary: item.binary, pairedItem: item.pairedItem });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,-128],"id":"5d487d51-689f-4bc1-9fb1-40f65dacefb0","name":"Normalize Entities (pdf)"}],"connections":{"Schedule":{"main":[[{"node":"Get Recent Messages","type":"main","index":0}]]},"Get Recent Messages":{"main":[[{"node":"Precompute","type":"main","index":0}]]},"Precompute":{"main":[[{"node":"Stamp Context","type":"main","index":0}]]},"Has Attachments?":{"main":[[{"node":"List Attachments","type":"main","index":0}],[{"node":"Compute Xero Link","type":"main","index":0}]]},"List Attachments":{"main":[[{"node":"Only PDFs","type":"main","index":0}]]},"Only PDFs":{"main":[[{"node":"Email Meta (attach)1","type":"main","index":0}]]},"Has Xero Link?":{"main":[[{"node":"Prepare Xero URL","type":"main","index":0}],[{"node":"No Xero Link (log)","type":"main","index":0}]]},"Prepare Xero URL":{"main":[[{"node":"Normalize PDF Link","type":"main","index":0}]]},"Compute Xero Link":{"main":[[{"node":"Has Xero Link?","type":"main","index":0}]]},"Download PDF (Attachment)":{"main":[[{"node":"Read PDF (attach)","type":"main","index":0}]]},"Read PDF (attach)":{"main":[[{"node":"Upload a file PDF attachments","type":"main","index":0},{"node":"Pre-clean PDF text","type":"main","index":0}]]},"Stamp Context":{"main":[[{"node":"Has Attachments?","type":"main","index":0}]]},"Email Meta (attach)1":{"main":[[{"node":"Download PDF (Attachment)","type":"main","index":0}]]},"Normalize PDF Link":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Read PDF (xero)","type":"main","index":0}]]},"Read PDF (xero)":{"main":[[{"node":"Pre-clean PDF text Xero","type":"main","index":0},{"node":"Upload a file","type":"main","index":0}]]},"Pre-clean PDF text Xero":{"main":[[{"node":"AI Prompt Builder1","type":"main","index":0}]]},"AI Prompt Builder1":{"main":[[{"node":"OpenAI Chat Model1","type":"main","index":0}]]},"OpenAI Chat Model1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge invoice data xero","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Pick Link Fields","type":"main","index":0}]]},"Pick Link Fields":{"main":[[{"node":"Merge invoice data xero","type":"main","index":1}]]},"flatten + tidy":{"main":[[{"node":"Append to Excel (Graph)1","type":"main","index":0}]]},"Upload a file PDF attachments":{"main":[[{"node":"Pick Link Fields from PDF","type":"main","index":0}]]},"OpenAI Chat Model":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Prompt Builder":{"main":[[{"node":"OpenAI Chat Model","type":"main","index":0}]]},"Pre-clean PDF text":{"main":[[{"node":"AI Prompt Builder","type":"main","index":0}]]},"Code":{"main":[[{"node":"Normalize Entities (pdf)","type":"main","index":0}]]},"Pick Link Fields from PDF":{"main":[[{"node":"Merge invoice data pdf","type":"main","index":0}]]},"Merge invoice data pdf":{"main":[[{"node":"flatten + tidy pdf","type":"main","index":0}]]},"Merge invoice data xero":{"main":[[{"node":"flatten + tidy","type":"main","index":0}]]},"flatten + tidy pdf":{"main":[[{"node":"Append to Excel (Graph)","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Normalize Entities (pdf)":{"main":[[{"node":"Merge invoice data pdf","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64306044-2de0-4dcf-b43a-e5948eb34718","triggerCount":1,"tags":[{"createdAt":"2025-08-02T11:57:55.593Z","updatedAt":"2025-08-02T11:57:55.593Z","id":"9q2hEZiA0ujceLQl","name":"PROD"}],"shared":[{"createdAt":"2025-09-06T12:02:42.064Z","updatedAt":"2025-09-06T12:02:42.064Z","role":"workflow:owner","workflowId":"ZZcktTuP2fFegZ26","projectId":"OOfqf1PcdXc4mAMQ","project":{"createdAt":"2025-08-02T11:30:32.205Z","updatedAt":"2025-08-02T11:32:05.229Z","id":"OOfqf1PcdXc4mAMQ","name":"SSS Sure <sureshotsolutions09@gmail.com>","type":"personal","icon":null,"description":null}}]}]